/*admin*/
.region{}
body.page-admincp{
    height: 100%;
    background: #222d32;
    overflow-x: hidden;
}
.pageWrapper {
    min-height: 100%;
	height: 100%;
    position: relative;
    width: 100%;
}
/*header box*/
#top {
    background: #3c8dbc;
    border-top: 1px solid #97bd47;
    height: 45px;
}
.user-logout i{
    background: url("../img/top-buttons.png") no-repeat scroll -69px -1px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    margin-top: 15px;
    transition: all 0.15s ease-in-out 0s;
    width: 16px;
}
.user-logout:hover i{
    background: url("../img/top-buttons.png") no-repeat scroll -69px -18px rgba(0, 0, 0, 0);
}
.user-info {
    display: inline-block;
    float: right;
    height: 100%;
    padding: 0 15px;
    position: relative;
}
.user-info:hover{
    background: #367fa9;
}
.user-info img {
    border-radius: 50%;
    float: left;
    height: 25px;
    margin-right: 10px;
    margin-top: 10px;
    width: 25px;
}
.user-info span.name-user {
    color: #fefefe;
    font-size: 12px;
    position: relative;
    text-transform: capitalize;
    top: 15px;
}
/*content admin*/
.contentRegion {
    clear: both;
    height: 100%;
    position: relative;
}
.inner-box {
    border-radius: 3px;
    width: 100%;
    height: 100%;
}
/*left box*/
.leftRegion .region.region-left {
    height: 100%;
}

.leftRegion .region.region-left .block.block-admindefault {
    height: 100%;
}

.leftRegion .region.region-left .block.block-admindefault .content {
    height: 100%;
}
.leftRegion .region.region-left .navigation {
    display: block;
    min-height: 100%;
}
.leftRegion .navigation > ul {
    padding: 1px 0;
}

.leftRegion .navigation  li {
    margin-bottom: 2px;
}
.leftRegion .navigation li a {
    color: #b8c7ce;
    display: block;
    font-size: 12px;
    padding: 10px 12px;
    position: relative;
    border-left: 2px solid transparent;
}
.leftRegion .navigation li:hover > a,
.leftRegion .navigation li.active > a {
    background: #1a2226;
    color: #fff;
    border-left: 2px solid #3c8dbc;
}
.leftRegion .navigation li ul.sub{
    display: none;
    background: #2c3b41;
}
/*.leftRegion .navigation li.active .sub{
    display: block;
}*/
.leftRegion .navigation li:hover ul li a,
.leftRegion .navigation sub li:hover a{
    border-left: 2px solid transparent;
    background: none;
}
.leftRegion .navigation .sub li.active a,
.leftRegion .navigation .sub li.active a:hover{
    color: #367fa9;
    border-left: 2px solid transparent;
    background:none;
}
.icon-dashboard:before{
    margin-right: 8px;
}
.icon-files-o:before {
    content: "";
    margin-right: 8px;
}
.icon-circle-o:before{
    content: "";
    margin-right: 8px;
}
.icon-arrow:before{
    position: absolute;
    right: 10px;
    top: 34%;
    content: "";   
}
li.active .icon-arrow:before{
    position: absolute;
    right: 10px;
    top: 34%;
    transform: rotate(-90deg);
}
.icon-remove::before {
    color: #ff0000 !important;
}
.icon-pencil:before {
   color: #3c8dbc!important;
}
/*right box*/
.showListItem table.sticky-table {
    border: 1px solid #efefef !important;
    border-radius: 4px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    width: 100% !important;
}
.showListItem table tr {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    height: 35px;
}
.showListItem table td:nth-child(1),
.showListItem table th:nth-child(1) {
    text-align: center !important;
}
.showListItem input[type="checkbox"],
.showListItem input[type="radio"] {
    line-height: normal;
    margin: 4px 0 0;
}
.show-bottom-info{
    width: 100%;
    clear: both;
}
.show-bottom-info .total-rows {
    color: #222;
    float: left;
    width: 30%;
}
.show-bottom-info .list-item-page{
    width: 65%;
    float: right;
}
.showListPage .item-list .pager {
    clear: both;
    text-align: right !important;
}
ul.pager .pager-current {
    font-size: 11px;
}
/*form add and edit item*/
.page-content-box .control-group label span {
    color: red;
}
.page-content-box .controls {
    margin-left: 180px;
    position: relative;
}
.page-content-box .controls input[type="text"],
.page-content-box .controls input[type="password"]{
    width: 48%;
}
.page-content-box .controls textarea {
    max-width: 80%;
    min-height: 100px;
    min-width: 80%;
}
.page-content-box .controls select{
    width: 50%;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.control-group .controls select option {
    padding: 2px 0;
    text-indent: 5px;
}
/*box search*/
.search-box{
    clear: both;
    display: inline-block;
    width: 100%;
    padding: 25px 0;
	border-bottom: 1px solid #d4d4d4;
    background: #ecf0f5;
}

#btnSearch{
    height: 30px;
}
/*footer*/
.footerRegion {
    bottom: 0;
    clear: both;
    margin-bottom: 15px;
    position: absolute;
    width: 100%;
}
.wrapp-footer {
    color: #ccc;
    font-size: 13px;
    font-style: italic;
    text-align: center;
}
.pageWrapper.act .leftRegion{
    display: none;
    transition: all 0.15s ease-in-out 0s;
}
.pageWrapper.act .rightRegion{
    margin-left: 0;
    transition: all 0.15s ease-in-out 0s;
}
.hot{
	color:#ff0000;
}
.listfiles{
	clear:both;
	margin-top:10px;
	width: 100%;
}
.listfiles .item-post{
	width:80px;
	height:80px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	vertical-align: top;
	overflow: hidden;
}
.listfiles .item-post img{
	width: 100%;
}
.page-header-box {
    padding: 12px 0;
	font-size:13px;
	background: #fafafa;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom: 1px solid #d4d4d4;
}
.rightRegion .region-content{
	background: #fafafa;
	height: 100%;
    position: relative;
    width: 100%;
}
body.page-admincp .wrapper{
     margin: 0 10px;
}
body .region-header .wrapper{
     margin: 0px;
}
/*header box*/
#top .logo {
    background: #367fa9 url("../img/logo.png") no-repeat scroll 0 10px;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 44px;
    width: 13%;
}
.right-top {
    float: right;
    height: 45px;
    width: 87%;
}
.right-top a.user-logout {
    display: inline-block;
    float: right;
    height: 100%;
    padding: 0 15px;
}
.right-top a.user-logout:hover {
    background: none repeat scroll 0 0 #367fa9;
}
/*left box*/
.leftRegion  {
    color: #e5e5e5;
    position: absolute;
    top: 0;
    width: 13%;
    height: 100%;
}
.leftRegion .region.region-left .block.block-admindefault {
    height: 100%;
}
.leftRegion .region.region-left .block.block-admindefault .content {
    height: 100%;
}
/*right box*/
.rightRegion {
    margin: 0 0 0 13%;
}
.page-title-box {
    background: #ecf0f5 none repeat scroll 0 0;
    height: 32px;
    line-height: 32px;
}
.page-title-box h5 {
    color: #4c4c4c;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}
.page-content-box{
    padding: 15px;
    background:#f9f9f9;
    border: 1px solid #ddd;
    position: relative;
    min-height: 630px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 100%;
    display: inline-block;
}
.sticky-enabled.tableheader-processed.sticky-table td,
.sticky-enabled.tableheader-processed.sticky-table th {
    max-width: 250px;
}
.showListItem table td:nth-child(1),
.showListItem table th:nth-child(1) {
    text-align: center !important;
}
.showListItem table td,
.showListItem table th {
    border-left: 1px solid #efefef;
    border-top: 1px solid #efefef !important;
    line-height: 20px !important;
    padding: 0 8px !important;
    text-align: left;
    vertical-align: middle !important;
}
.showListItem table th {
    border-bottom: 1px solid #efefef !important;
}
.showListItem table tr {
    border-bottom: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
}
.showListItem table th a,
.showListItem table th a:hover {
    color: #222 !important;
    text-decoration: none !important;
}
.showListItem table th a:before{
    content: "";
}
.showListItem table th a img {
    display: none !important;
}

.bg-status-show {
    background-color: #468847;
     border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 11.84px;
    font-weight: 700;
    line-height: 14px;
    min-width: 10%;
    padding: 2px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}
.bg-status-hidden {
    background:#999;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 11.84px;
    font-weight: 700;
    line-height: 14px;
    min-width: 10%;
    padding: 2px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}
.pager .pager-first,
.pager .pager-item,
.pager .pager-last,
.pager .pager-next,
.pager .pager-previous {
    color: #000;
    cursor: pointer;
    margin: 5px;
    padding: 0 !important;
    text-align: center;
}
.page-title-box span.menu_tools {
    float: right;
    margin-right: 4px;
    position: relative;
    top: 3px;
}
.page-title-box span.menu_tools a{
    font-size: 20px;
    margin-right: 2px;
}
/*form add and edit item*/
.page-content-box .control-group {
    clear: both;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.page-content-box .control-group .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 160px;
}
.page-content-box .control-group label span {
    color: red;
}
.page-content-box input[type="color"],
.page-content-box input[type="date"],
.page-content-box input[type="datetime-local"],
.page-content-box input[type="datetime"],
.page-content-box input[type="email"],
.page-content-box input[type="month"],
.page-content-box input[type="number"],
.page-content-box input[type="password"],
.page-content-box input[type="search"],
.page-content-box input[type="tel"],
.page-content-box input[type="text"],
.page-content-box input[type="time"],
.page-content-box input[type="url"],
.page-content-box input[type="week"],
.page-content-box textarea {
    background-color: #fff;
    border: 1px solid #ccc;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    color: #555;
    display: inline-block;
    font-size: 14px;
    padding: 4px;
    vertical-align: middle;
    outline: 0 none;
}
.page-content-box input[type="color"]:focus,
.page-content-box input[type="date"]:focus,
.page-content-box input[type="datetime-local"]:focus,
.page-content-box input[type="datetime"]:focus,
.page-content-box input[type="email"]:focus,
.page-content-box input[type="month"]:focus,
.page-content-box input[type="number"]:focus,
.page-content-box input[type="password"]:focus,
.page-content-box input[type="search"]:focus,
.page-content-box input[type="tel"]:focus,
.page-content-box input[type="text"]:focus,
.page-content-box input[type="time"]:focus,
.page-content-box input[type="url"]:focus,
.page-content-box input[type="week"]:focus,
.page-content-box textarea:focus {
    border:1px solid #3c8dbc;
}
.page-content-box .form-actions {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 19px 20px 20px;
    padding-left: 185px;
}
.page-content-box .btn {
    background: #dbdbdb;
    border: 1px solid #dbdbdb;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
}
.page-content-box .btn-primary{
    color:#fff;
    background:#006dcc;
}
.page-content-box .btn-primary:hover {
    background: #0069c8;
    color: #fff;
}
.page-content-box .btn[type="reset"]:hover{
    background: #d3d3d3;
}
.wrapp-search-box{
    padding: 10px 10px 7px 10px;
}
.search-box-title {
    clear: both;
    display: inline-block;
    position: relative;
    top: -10px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
/*footer*/
.footerRegion {
    bottom: 0;
    clear: both;
    margin-bottom: 15px;
    position: absolute;
    width: 100%;
}
.wrapp-footer {
    color: #ccc;
    font-size: 14px;
    text-align: center;
}
.pageWrapper.act .leftRegion{
    display: none;
    transition: all 0.15s ease-in-out 0s;
}
.pageWrapper.act .rightRegion{
    margin-left: 0;
    transition: all 0.15s ease-in-out 0s;
}
.pageWrapper.act #top .logo{
    display: none;
    transition: all 0.15s ease-in-out 0s;
}
.pageWrapper.act #top .right-top {
    transition: all 0.15s ease-in-out 0s;
    width: 100%;
}
.hot{
	color:#ff0000;
}
.blue{
	color:#468847;
}
.listfiles{
	clear:both;
	margin-top:10px;
	width: 100%;
}
.listfiles .item-post{
	width:80px;
	height:80px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	vertical-align: top;
	overflow: hidden;
}
.listfiles .item-post img{
	border: 1px solid #999;
    width: 98%;
}
.page-header-box {
    padding: 12px 0;
	font-size:13px;
	background: #fafafa;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.messages.warning,
.messages.error,
.messages.status {
    position: relative;
    z-index: 1;
}
.wrappButton {
    display: inline-block;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 110px;
}
.wrappButton input[type="file"] {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
div#load_file_ajax,
div#load_file_ajax_gift {
    display: inline-block;
    float: left;
    width: auto
}
#load_file_ajax .rowprocess,
div#load_file_ajax_gift .rowprocess{
    display: inline-block;
    float: left;
    vertical-align: top;
    width: 75px
}
#load_file_ajax .rowprocess p ,
div#load_file_ajax_gift .rowprocess p{
    width: 100%;
    clear: both
}
.rowprocess img {
    border: 1px solid #d4d4d4;
    width: 50px!important;
    height: 50px!important
}
.rowprocess a {
    clear: both;
    display: inline-block;
    float: none;
    position: relative;
    top: 10px;
    width: 100%;
}
.listFildDb .thumb {
    float: left;
    width: 50px;
}
.listFildDb .rowprocess {
    display: block;
    float: left;
    min-height: 50px;
    margin-right: 10px;
    width: 75px;
}
.logged-in.page-user-edit #content #block-system-main form label {
    display: block;
    font-weight: normal;
    width: auto;
}
.logged-in.page-user-edit #block-system-main form input.form-text {
    width: auto!important;
}
.dash_order{
    border-collapse: separate!important;
}
.dash_order td,.dash_order th{
    padding: 5px;
}
.dash_order td{
    border-bottom: 1px dotted #222!important;
}
.dash_order tr:last-child td{
    border-bottom: none!important;
}
.showListItem table tr {
    background: #fff!important;
}
.showListItem table tr:hover {
    background: #e0e0e0!important;
}
.showListItem table thead tr:first-child,
.showListItem table thead tr:first-child:hover {
    background: #fff!important;
}
.box-menu-click {
    display: inline-block;
    float: left;
    padding: 15px;
    cursor: pointer;
}
.box-menu-click:hover{
    background: #367fa9;
}
.box-menu-click span {
    background-color: #fff;
    clear: both;
    display: block;
    height: 2px;
    line-height: 3px;
    margin-bottom: 3px;
    width: 18px;
}
.show-bottom-info {
    clear: both;
    display: inline-block;
    width: 100%;
}
/*media*/
/*
@media (max-width: 560px) {
    .contentRegion {
        display: inline-block;
        margin-bottom: 10px;
        padding: 0px;
        width: 100%;
    }
    .leftRegion {
        color: #e5e5e5;
        height: auto;
        position: relative;
        width: 100%;
        clear: both;
        display: inline-block;
    }
    .rightRegion {
        margin: 0 0 20px 0;
    }

    .page-content-box {
        overflow-x: scroll;
    }
    .control-group .control-label {
        float: none;
        padding-top: 5px;
        text-align: left!important;
        width: 100%;
    }

    .control-group .controls {
        margin-left: 0;
        margin-top: 5px;
        width: 100%;
        clear: both;
    }
    .page-content-box .controls textarea {
        max-width: 98%;
        min-width: 98%;
    }
    .page-content-box .form-actions{
        margin: 0px;
    }
}
*/
.txtComment{
    clear: both!important;
    margin-bottom: 10px!important;
    font-weight: bold!important;
}
.list-comment {
    border-radius: 2px;
    clear: both;
    display: inline-block;
    width: 99%;
}
.list-comment li {
    clear: both;
    display: inline-block;
    padding: 5px 7px;
    position: relative;
    width: 100%;
    border-radius: 2px;
}
.list-comment li:nth-child(odd) {
    background: #e9eaed;
}

.list-comment li:nth-child(even) {
    background: #f7f8f9;
}
.txtclicknote,
.txtclickcomment,
.txtupdatestatus {
    background: none repeat scroll 0 0 #749cd1;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
    cursor: pointer;
    font-weight: bold;
    font-weight: 13px;
    font-style: italic;
}
.txtclicknote:hover,
.txtclickcomment:hover,
.txtupdatestatus:hover {
    background: none repeat scroll 0 0 #a2caff;
}
.notetxt {
    font-weight: bold;
    text-transform: capitalize;
}
.full-item-line textarea {
    max-height: 300px;
    max-width: 100%;
    min-height: 100px;
    min-width: 100%;
    padding: 4px 1px!important;
}
.comment-order-wrap{
    width: 83%;
    margin: 0 auto;
}
.contenttxt {
    clear: both;
    font-size: 13px;
    line-height: 18px;
    margin: 5px 0;
}
.datetxt {
    color: #999;
    font-size: 11px;
    font-style: italic;
}
.icon-comment {
    background-position: 207px -48px;
    display: block;
    float: left;
    height: 15px;
    margin-top: 0;
    width: 18px;
}
.right-popup-comment {
    float: right;
    width: 300px;
}
.left-popup-comment.detail-product-order {
    display: inline-block;
    float: left;
    width: 315px;
    text-align: left;
}
.box-update_status .list-status {
    clear: both;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
.box-update_status .list-status select{
    border:1px solid #ddd;
    padding: 2px;
    width: 211px;
}
#dialog_update_status .full-item-line {
    text-align: center;
}

/* Responsive table */
.stacktable { width: 100%; }
.st-head-row { padding-top: 1em; }
.st-head-row.st-head-row-main { font-size: 1.5em; padding-top: 0; }
.st-key { width: 49%; text-align: right; padding-right: 1%; }
.st-val { width: 49%; padding-left: 1%; }
.stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }
@media (max-width: 800px) {
  .stacktable.large-only { display: none; }
  .stacktable.small-only { display: table; }
}
.stacktable.small-only tr:first-child {
    background: #ddd none repeat scroll 0 0 !important;
}
.wrapp-search-box .btn{
    height: 30px;
    padding: 5px 12px;
}
.list-item-page .showListPage{
    margin: 0px;
}
/*Quynh TM
http://fortawesome.github.io/Font-Awesome/3.2.1/icons/
fix kich thuong icon trong admin*/
.icon-admin{
    font-size: 20px; padding: 5px;
}
.green{color: green}
.red{color: red}

.font_9{font-size: 9px}
.price_sell{color: red; font-weight:bold }

.menu_tools{float: right;  margin-right: 4px;}
form#formListItem {
    display: inline-block;
    width: 100%;
}
.showListPage .pager li > a, 
.showListPage .pager li > span{
    border-radius: 0;
}
.td_list{background-color: #ECF0F5!important;}
.padding10{padding: 10px}
.padding20{padding: 20px}

.paddingTop5{padding-top: 5px}
.paddingTop10{padding-top: 10px}
.paddingTop20{padding-top: 20px}
.paddingTop30{padding-top: 30px}

.boder_admin{border: 1px solid}

.align_center{text-align: center!important;}
.align_left{text-align: left!important;}
.align_right{text-align: right!important;}
.align_justify{text-align: justify!important;}

.a_control:hover{color: red}

#sys_drag_sort {
    display: inline-block;
    float: left;
    margin-left: 170px;
    max-width: 80%;
}
#sys_drag_sort li {
    border: 1px solid #ddd;
    display: inline-block;
    float: left;
    height: 130px;
    margin: 0 5px;
    overflow: hidden;
    padding: 3px;
}
#sys_drag_sort .div_img_upload img {
    border-bottom: 1px solid #ddd;
}