.txtComment{
    clear: both!important;
    margin-bottom: 10px!important;
    font-weight: bold!important;
}
.list-comment {
    border-radius: 2px;
    clear: both;
    display: inline-block;
    width: 99%;
}
.list-comment li {
    clear: both;
    display: inline-block;
    padding: 5px 7px;
    position: relative;
    width: 100%;
    border-radius: 2px;
}

.list-comment li:nth-child(odd) {
    background: #e9eaed;
}

.list-comment li:nth-child(even) {
    background: #f7f8f9;
}
.txtclicknote,
.txtclickcomment,
.txtupdatestatus {
    background: none repeat scroll 0 0 #749cd1;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
    cursor: pointer;
    font-weight: bold;
    font-weight: 13px;
    font-style: italic;
}
.txtclicknote:hover,
.txtclickcomment:hover,
.txtupdatestatus:hover {
    background: none repeat scroll 0 0 #a2caff;
}
.comment-delete {
    background: url("../img/delete.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    float: right;
    height: 16px;
    position: absolute;
    right: 0;
    text-indent: -9999em;
    top: 5px;
    width: 16px;
    display: none;
    cursor: pointer;
}
.list-comment li:hover .comment-delete {
    display: inline-block;
}
.notetxt {
    font-weight: bold;
    text-transform: capitalize;
}
.full-item-line textarea {
    max-height: 300px;
    max-width: 100%;
    min-height: 100px;
    min-width: 100%;
    padding: 4px 1px!important;
}
.comment-order-wrap{
    width: 83%;
    margin: 0 auto;
}
.contenttxt {
    clear: both;
    font-size: 13px;
    line-height: 18px;
    margin: 5px 0;
}
.datetxt {
    color: #999;
    font-size: 11px;
    font-style: italic;
}
.icon-comment {
    background-position: 207px -48px;
    display: block;
    float: left;
    height: 15px;
    margin-top: 0;
    width: 18px;
}
.right-popup-comment {
    float: right;
    width: 300px;
}
.left-popup-comment.detail-product-order {
    display: inline-block;
    float: left;
    width: 315px;
    text-align: left;
}

.right.icon-pencil.bgLeftIcon {
    display: inline-block;
    float: right;
    height: 15px;
    position: relative;
    text-indent: -99999em;
    top: 3px;
    width: 15px;
}

.box-update_status .list-status {
    clear: both;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
.box-update_status .list-status select{
    border:1px solid #ddd;
    padding: 2px;
    width: 211px;
}

#dialog_update_status .full-item-line {
    text-align: center;
}