.region{}
@media (min-width: 1200px){
    .navbar-nav.menu-header{
        margin-top: 0;
    }
    .list-call {
        margin-bottom: 15px;
        margin-top: -15px;
    }
    .fixed-header.heade-fixed .list-call{
        margin-top: 0;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    ul.menu-header > li:hover,
    ul.menu-header li:hover .submenu{
        display: none!important;
    }
    .box-top-header-right {
        width: 100%;
    }
    .box-search {
        width: 80%;
    }
    .navbar-nav.menu-header {
        margin-top: 0;
    }
    .navbar-nav.menu-header {
        margin-top: 2px;
    }
    .list-call {
        margin-bottom: 15px;
        margin-top: -15px;
    }
    .fixed-header.heade-fixed .list-call{
        margin-top: 0;
    }
    .item-one-img-view {
        height: auto !important;
        margin-right: 1px;
        width:22.3%!important;
        max-height: none !important;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .box-top-header-right {
        clear: both;
        width: 100%;
    }
    .box-search {
        width: 100%;
    }
    .keyword {
        width: 72%;
    }
    .navbar-nav.menu-header {
        left: 0;
    }
    .navbar-nav.menu-header {
        margin-top: 2px;
    }
    .ul-dieukien-noibat-khuyenmai{
        overflow: visible;
        border-bottom: none;
    }
    .ul-dieukien-noibat-khuyenmai li {
        border-radius: 5px;
        width: 100%;
        clear: both;
        margin-bottom: 2px;
    }
    .list-call {
        margin-bottom: 15px;
        margin-top: -20px;
    }
    .fixed-header.heade-fixed .list-call{
        margin-top: 0;
    }
     .page-user #content #block-system-main{
        width: 50%!important;
        margin: 0 auto!important;
    }
    #pid-user-password.page-user-password .site-content #block-system-main{
        width: 65%!important;
        margin: 0 auto!important;
    }
    .item-product .product-img {
        height: 150px;
        max-height: 150px;
        overflow: hidden;
    }
    .item-product .product-img img {
        max-height: 150px;
        min-height: auto !important;
        width: 100%;
    }
    .item-one-img-view {
        height: auto !important;
        margin-right: 1px;
        width:21.4%!important;
        max-height: none !important;
    }
}
@media (max-width: 768px) {
    .bottom-header{
        background: none!important;
    } 
    .navbar-inverse {
        background-color: #222;
        border-color: #080808;
    }
    #logo {
        display: inline-block;
        float: left;
    }
    .box-top-header-right {
        display: none;
        width: 78%;
    }
    .navbar-inverse .navbar-toggle {
        border-color: #333;
        margin-top: 16px;
    }
    .menu-header.navbar-nav li a:hover{
        color: #fff!important;
        text-decoration: underline!important;
    }
    .navbar-nav.menu-header {
        left: 0;
    }
    .slider-box-left{
        float: none;
        max-height: none!important
    }
    .slider-box-right{
        float: none;
        margin-top: 8px;
        width: 100%;
        max-height: none!important
    }
    .navbar {
        margin-bottom: 15px;
    }
    .menu-header.navbar-nav ul li a:hover,
    .menu-header.navbar-nav ul li a:hover, 
    .menu-header.navbar-nav ul li a:focus, 
    .menu-header.navbar-nav ul li a:active{
        color: #fff!important;
    }
    .content-post-line .item-product .product-img {
        max-height: none!important;
    }
    .ul-dieukien-noibat-khuyenmai{
        overflow: visible;
        border-bottom: none;
    }
    .ul-dieukien-noibat-khuyenmai li {
        border-radius: 2px;
        width: 100%;
        clear: both;
        margin-bottom: 2px;
    }
    .social-view.share-button {
        width: 100%;
    }
    .box-content-view-more .social-comment {
        overflow-x: scroll;
        width: 100%;
    }
    #logo {
        margin-bottom: 2px;
    }
    .navbar-toggle{
        margin-right: 0!important;
    }
    .menu-header.navbar-nav > li {
        margin: 0 10px 2px;
    }
    .menu-header.navbar-nav li.act ul li a,
    .menu-header .submenu li a:hover,
    .menu-header .submenu li a:focus,
    .menu-header .submenu li a:active {
        color: #fff!important;
    }
    .txtFormPaymentCart,
    .formChangeInfo, 
    .formSendRegister {
        width: 85%!important;
    }
    .slider-box-right li{
        max-height: none;
    }
    .item-one-img-view {
        height: auto !important;
        margin-right: 1px;
        width: 23.4% !important;
        max-height: none !important;
    }
    /*begin user login*/
    .page-user #content #block-system-main{
        width: 90%!important;
        margin: 0 auto!important;
    }
    .page-user #content #block-system-main form input.form-text {
        width: 100%!important;
    }
    .page-user #content #block-system-main form label {
        width: 100% !important;
    }
    .page-user #content #block-system-main form .remember-login {
        margin-left: 0 !important;
    }
    .page-user #content #block-system-main form label {
        width: 80% !important;
    }
    .page-user #content #block-system-main form #edit-actions {
        margin-left: 0 !important;
    }
    .page-user #content #block-system-main form .link-info {
        margin-left: 0!important;
        top: 0!important;
        width: 100%!important;
    }
    .page-user #content #block-system-main form #edit-actions {
        display: inline-block !important;
        float: none!important;
        margin-left: 0 !important;
        margin-top: 15px!important;
    }
    .page-user-password .site-content #block-system-main form#user-pass > div > h3 {
        left: 0!important;
        text-align: center!important;
        padding: 12px 0 0!important;
    }
    .page-user-password form#user-pass > div > div.restore-pass-text01, form#user-pass > div > div.restore-pass-text02 {
        left: 0 !important;
        text-align: center!important;
    }
    .page-user-password form#user-pass .form-item.form-type-textfield.form-item-name {
        left: 0!important;
        text-align: center!important;
    }
    .page-user-password #content #block-system-main form label {
        margin-left: 0 !important;
        width: 100%;
    }
     #pid-user-password.page-user-password #content #block-system-main form input.form-text {
        margin-left: 0 !important;
        width: 80% !important;
    }
    #pid-user-password.page-user-password #block-system-main form .restore-pass-text01, 
    #pid-user-password.page-user-password #block-system-main form .restore-pass-text02 {
        left: 0 !important;
        text-align: center;
    }
    .page-user #content #block-system-main form #edit-actions {
        display: block !important;
        text-align: center;
    }
    #pid-user-password.page-user-password form#user-pass .form-submit {
        margin-left: 0 !important;
    }
    /*end user login*/
    .list-call {
        margin-bottom: 10px;
        margin-top: -5px;
    }
    .box-left-slider {
        min-height: auto;
        height: auto;
        margin-bottom: 10px;
        overflow: visible;
        width: 100%;
    }
    .slider-box-mid.theme-default {
        margin-left: -15px;
        margin-right: -15px;
    }
    .box-right-slider {
        margin-top: 10px;
        min-height: auto;
        width: 100%;
        height: auto;
        overflow: visible;
    }
    .item-right-slider {
        margin: 10px 0px 5px;
    }
    /*item in row product*/
    .content-post-line .item-in-row {
        display: inline-block;
        float: none;
        height: auto;
        padding: 5px 10px;
        width: 100%;
    }
    .content-post-line .item-in-row .thumb .image-wrap {
        width: 100%;
        height: auto!important;
    }
    .content-post-line .item-in-row .thumb img {
        max-height: 100%!important;
        max-width: 100%!important;
        min-width: 90%!important;
        position: relative!important;
    }
    .content-post-line .item-in-row .title-show-name {
        text-align: center;
    }
    .content-post-line .item-in-row p {
        text-align: center;
    }
    .left-row-post-line{
        height: auto!important;
    }
    .btn-view-cart.btn-primary {
        margin-bottom: 5px;
        margin-right: 0;
    }
    .list-button-view {
        width: 100%;
    }
    .group-price {
        width: 100%;
    }
    .group-price .price-red {
        float: left;
    }
}