/*site*/
body{
    overflow-x: hidden;
    background: #fff;
    position: relative;
}
a{
    color: #333;
    outline: medium none;
    text-decoration: none;
}
.container {
    width: 1300px;
}
.link-top-head{
    background-color: #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    position: relative;
    padding: 8px 0;
    min-width: 1300px;
}
.top-header {
    clear: both;
    display: inline-block;
    margin-top: 8px;
    width: 100%;
}
.center-header{
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.bottom-header {
    background: #cc0000;
    clear: both;
    display: inline-block;
    height: 35px;
    margin-top: 10px;
    width: 100%;
}
#logo {
    border-radius: 5px;
    float: left;
    margin-right: 15px;
    margin-top: 8px;
    overflow: hidden;
    width: 230px;
}
span#logo{
    margin-bottom: 10px;
}
#logo img{
    border-radius: 4px;
    display: block;
    width: 100%;
}
.box-top-header-right {
    display: inline-block;
    float: right;
    margin-top: 15px;
    width: 78%;
}
.box-search {
    display: inline-block;
    float: left;
    width: 95%;
    border: 2px solid #fe6d01;
}
.box-search select.provices_id {
    height: 29px;
    margin-right: 5px;
    width: 160px;
}
.box-search select.category_id {
    height: 29px;
    width: 385px;
}
.keyword {
    border: medium none;
    padding: 5px;
    position: relative;
    top: 1px;
    width: 80%;
    font-style: italic;
}
.btn-search {
    background: #fe6d01;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: right;
    font-style: italic;
    font-weight: bold;
    padding: 6px 15px;
}
.btn-search:hover{
    background: #f16000;
}
.box-login {
    display: inline-block;
    float: right;
}
.btnLog {
    color: #666;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
}
.btnLog:hover,
.btnLog:focus,
.btnLog:active{
    color: #ff7300;
}
.box-login .link-normal {
    color: #666;
    font-size: 12px;
    padding-left: 10px;
}
.box-login .link-normal:hover{
     color: #ff7300;
}
.search-top-center{
    display: inline-block;
    float: left;
    margin-top: 1px;
    width: 70%;
}
.box-header-link{
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 40px;
}
.box-menu-title {
    display: inline-block;
    float: left;
    position: relative;
    width: 230px;
    z-index: 2;
}
.list-product-new{
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 14px;
    font-style: italic;
}
.list-product-new .icon-list-new {
    background: rgba(0, 0, 0, 0) url("../img/new.gif") repeat scroll 0 0;
    display: inline-block;
    height: 13px;
    position: relative;
    top: 1px;
    width: 25px;
}
.desc-price-day {
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 50px;
    font-size: 14px;
    font-style: italic;
}
.desc-price-day .icon-star-empty{
    color: #fe6d00;
    font-size: 18px;
}
.support-contact .icon-book{
    font-size: 30px;
    color:#ddd;
    margin-right:10px;
    position: relative;
    top:2px; 
}
.support-contact {
    border: 1px solid transparent;
    border-radius: 2px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 18px;
    margin: 1px 0;
    padding: 2px 8px 3px;
    position: relative
}
.support-contact:hover{
    color: #005981;
    background: #fff;
    border: 1px solid #ddd;
}
.support-contact .icon-phone::before {
    background: #fe6d00 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    font-size: 15px;
    height: 24px;
    line-height: 24px;
    position: relative;
    text-align: center;
    top: 0px;
    width: 23px;
    margin-right: 5px;
}
.support-contact i.idrop {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0;
    display: inline-block;
    position: relative;
    right: 0;
    top: -2px;
    margin-left: 2px;
}
.support-contact .box-hover-support-contact{
     background: #fff none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    color: #444;
    cursor: default;
    display: none;
    left: -158px;
    padding: 10px 0;
    position: absolute;
    top: 40px;
    width: 455px;
    z-index: 110;
}
.support-contact:hover .box-hover-support-contact{
    display: block;
}
.box-hover-support-contact .top-arrow-box{
    height: 9px;
    left: 0;
    position: absolute;
    text-align: center;
    top: -10px;
    width: 100%;
}
.box-hover-support-contact .top-arrow-box > i{
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll 0px 0px;
    display: inline-block;
    height: 9px;
    position: relative;
    top: -7px;
    width: 14px;
    left: -15px;
}
.box-hover-support-contact .custommer{
    border-bottom: 1px solid #ddd;
    color: #666;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 5px 20px;
}
.box-hover-support-contact .custommer b{
    color: #444;
    text-transform: uppercase;
}
.support-user-shop{
    color: #666;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 5px 20px;
}
.support-user-shop b{
    color: #444;
    text-transform: uppercase;
}
.support-user-shop ul{
    border: 0 none;
    padding: 0 5px 0 10px;
    margin-bottom: 0;
}
.support-user-shop ul li {
    line-height: 25px;
    font-size: 12px;
}
.support-user-shop ul li i {
    border-color: transparent transparent transparent #c2c2c2;
    border-style: solid;
    border-width: 3px 0 3px 3px;
    display: block;
    float: left;
    margin: 10px 7px 9px 0;
}
.chat-sky {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll 0 -8px;
    display: inline-block;
    height: 15px;
    margin: 3px 15px 0 5px;
    position: relative;
    top: 2px;
    width: 45px;
}

.shopping-cart {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -145px 0;
    display: inline-block;
    float: left;
    height: 46px;
    margin-left: 105px;
    margin-top: -10px;
    position: relative;
    width: 50px;
}
.shopping-cart .num-item {
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    font-weight: 400;
    height: 16px;
    left: 12px;
    line-height: 16px;
    overflow: hidden;
    padding: 0 3px;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
    width: 14px;
}
/*content*/
.box-menu-list{
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    width: 230px;
    position: relative;
    display: inline-block;
    float: left;
    height: 427px;
}
.icon-cat-title {
    display: inline-block !important;
    float: left;
    margin-right: 10px;
    margin-top: 2px !important;
    width: 18px !important;
}
.ic-line {
    background: #222;
    clear: both;
    display: block;
    height: 3px;
    margin-bottom: 2px;
    width: 100%;
}
.title-cat-menu .right-down {
    display: inline-block;
    float: right;
    font-size: 20px;
    height: 20px;
    position: relative;
    right: 32px;
    top: -4px;
}
.front .title-cat-menu .right-down{
    display: none;
}
.title-cat-menu {
    color: #222;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 5px 10px 12px;
    text-transform: uppercase;
}
.box-menu-hover.act .title-cat-menu{
    color: #cc0000;
}
.box-menu-hover.act .title-cat-menu .ic-line{
    background: #cc0000;
}
.content-box-menu{
    background: #fff none repeat scroll 0 0;
    clear: both;
    display: inline-block;
    min-height: 420px;
    width: 100%;
}
.content-box-menu.header-menu-other{
    border: 1px solid #ddd;
    display: none;
    position: absolute;
    z-index: 999;
}
.box-menu-title:hover .content-box-menu.header-menu-other{
    display: block;
}
.content-box-menu > ul{
    margin-bottom: 0;
}
.content-box-menu > ul > li{
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    color: #333;
    display: block;
    height: 38px;
    line-height: 38px;
    padding-left: 13px;
    text-decoration: none;
}
.content-box-menu ul > li > a {
    display: inline-block;
    text-transform: none;
    width: 100%;
}
.content-box-menu ul > li:last-child{
    border-bottom: none;
}
.content-box-menu .list-subcat{
    border: 1px solid #ddd;
    display: none;
    left: 100%;
    width: 735px;
    padding-left: 30px;
    padding-right: 15px;
    position: absolute;
    top: -1px;
    z-index: 22;
    min-height: 428px;
    max-height: 428px;
    overflow: hidden;
}
.content-box-menu.header-menu-other .list-subcat{
    min-height: 420px;
    max-height: 420px;
    overflow: hidden;
}
.content-box-menu ul > li:hover .list-subcat{
    display: inline-block;
}
.list-subcat ul {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 38%;
}
.content-box-menu .list-subcat li {
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
}
.content-box-menu .list-subcat li a:hover{
    font-weight: bold;
}
.slider-box-mid {
    display: inline-block;
    float: left;
    height: 428px;
    width: 730px;
    margin-left: 5px;
}
.ads-right-mid{
    display: inline-block;
    float: right;
    height: 455px;
    width: 300px;
}
.item-right-slider {
    margin-bottom: 10px;
}
.item-right-slider:last-child{
    margin-bottom: 0px;
}
.item-right-slider img {
    max-height: 209px;
    width: 100%;
}
/*product*/
.w-list-block{
    clear: both;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.title-list-item{
    border-bottom: 2px solid #e34242;
    color: #777;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 15px;
}
.w-home > ul {
    margin-right: -100px;
}
.w-home .item {
    display: inline-block;
    float: left;
    height: 365px;
    margin: 5px 23px 15px 0px;
    overflow: hidden;
    padding: 10px;
    width: 235px;
    position: relative;
}
.w-home .item:hover{
    box-shadow: 0 0 2px rgba(87, 87, 87, 0.6);
}
.w-home .item .post-thumb {
    display: block;
    height: 225px;
    line-height: 225px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.w-home .item .post-thumb img {
    width: 100%;
}
.w-home .item .post-title{
    font-size: 12px;
    max-height: 36px;
    line-height: 1;
    margin: 0 0 8px;
    overflow: hidden;
}
.w-home .item .post-title a {
    color: #666;
    font-size: 13px;
    line-height: 18px;
}
.w-home .item:hover .item-banner{
    display: block;
}
/*footer*/
#footer {
    border-top: 1px solid #fff;
    margin-top: 50px !important;
    padding: 20px 0 10px;
    background: #202020;
    min-width: 1300px;
}
#footer .address {
    color: #fff;
    display: inline-block;
    float: left;
}
#footer .address * {
    font-size: 14px;
}
.link-shop {
    color: #c63829;
    font-size: 13px;
    font-style: normal;
    margin-left: 2px;
}
.not-product {
    color: #ff0000;
    font-size: 30px;
    font-style: italic;
    padding: 50px;
    text-align: center;
}
.bg-opacity{
    background: #000;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.1;
}
.right-ultity {
    color: #9a9a9a;
    display: inline-block;
    float: right;
    height: 35px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 660px;
}
.shop-create {
    display: inline-block;
    float: left;
    width: 220px;
}
.shop-create i {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll 0 -95px;
    display: inline-block;
    height: 29px;
    width: 29px;
    float: left;
}
.shop-transfer {
    display: inline-block;
    float: left;
    width: 220px;
}
.shop-transfer i {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -34px -95px;
    display: inline-block;
    float: left;
    height: 32px;
    width: 58px;
}
.shop-diversity{
    display: inline-block;
    float: left;
    width: 220px;
}
.shop-diversity i {
    background: rgba(0, 0, 0, 0) url("../img/icon.png") no-repeat scroll -93px -95px;
    display: inline-block;
    float: left;
    height: 29px;
    width: 48px;
}
.right-ultity i {
    margin-right: 5px;
}
.right-ultity span{
    font-style: italic;
}
.btnLog i{
    font-size: 16px;
    position: relative;
    top: 1px;
}
#back-to-top {
    background: #fe6d00 none repeat scroll 0 0;
    border-radius: 100%;
    bottom: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    height: 34px;
    line-height: 30px;
    overflow: hidden;
    position: fixed;
    right: 45px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease 0s;
    width: 34px;
    z-index: 99;
}
#back-to-top:hover{
    background: #999;
}
.left-product-new{
    display: inline-block;
    float: left;
    text-align: justify;
    width: 1008px;
}
.left-product-new > ul {
    margin-right: -50px;
}
.right-product-new{
    display: inline-block;
    float: right;
    width: 235px;
    margin-top: 5px;
}
.item-right-ads {
    margin-bottom: 20px;
}
.item-right-ads:last-child {
    margin-bottom: 0;
}
.item-right-ads img {
    height: auto;
    width: 100%;
}
.content-list-item.search .left-product-new {
    float: right;
}
.content-list-item.search .right-product-new {
    float: left;
}
.top-footer {
    border-bottom: 1px solid #6a6a6a;
    clear: both;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 18px;
    width: 100%;
}
.top-footer span {
    color: #fff;
    margin-right: 10px;
    position: relative;
    top: -4px;
}
.midd-footer{
    display: inline-block;
    width: 100%;
    clear: both;
}
.midd-footer > ul {
    display: inline-block;
    float: left;
    left: 15px;
    margin-right: 5px;
    position: relative;
    width: 24%;
}
.midd-footer > ul li {
    margin-bottom: 4px;
}
.midd-footer > ul li span {
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.midd-footer > ul li a {
    color: #bebebe;
}
.midd-footer > ul li a:hover{
    color: #fe6d00;
}
.note-footer{
    color: #fe6d00;
    clear: both;
    margin-top: 20px;
    display: inline-block;
    font-style: italic;
}
.right-top-footer{
    float: right;
    display: inline-block;
    float: right;
}
.right-top-footer .icon-facebook {
    background: #ddd none repeat scroll 0 0;
    border-radius: 3px;
    color: #222;
    font-size: 20px;
    padding: 5px 8px 0;
}
.right-top-footer .icon-facebook:hover{
    background: #ccc;
}
.right-top-footer .icon-google-plus{
    background: #ddd none repeat scroll 0 0;
    border-radius: 3px;
    color: #222;
    font-size: 20px;
    padding: 5px 2px 0;
}
.left-news-view {
    background: #f2f2f2 ;
    border-radius: 2px;
    display: inline-block;
    float: left;
    padding: 5px 10px;
    width: 1000px;
}
.right-news-view{
    display: inline-block;
    float: right;
    width: 235px;
}
.title-news,
.title-video{
    border-bottom: 1px dotted #ddd;
    color: #444;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin: 2px 0 10px;
    padding-bottom: 2px;
    position: relative;
}
.intro-news,
.intro-video{
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.content-news,
.content-video{
    color: #222;
    font-size: 14px;
    line-height: 20px;
}
.content-news p,
.content-video p{
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}
.same-content-news{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
.same-content-news ul {
    margin-top: 12px;
}
.same-content-news a {
    font-weight: normal;
    margin-bottom: 5px;
    text-transform: none;
    font-size: 15px;
}
.same-content-news a:hover{
    text-decoration: underline;
}
.link-video{
    margin:10px auto;
    width: 900px;
}
.link-video iframe{
    max-width: 900px!important;
    max-height: 506px!important
}
.same-content-video{
    margin-bottom: 20px;
    clear: both;
    width: 100%;
}
.same-content-video .list-video-post{
    margin-top: 20px;
}
.same-content-video .same-title {
    color: #333;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
}
.same-content-video .item-video {
    padding-left: 2px;
    padding-right: 5px;
    width: 33.3%;
}
.page-tin-tuc #footer{
    margin-top: 0!important;
}
.list-news-post .item-news {
    margin: 0 0 2em;
    clear: both;
    display: inline-block;
    width: 100%;
     background: #fff;
}
.list-news-post .item-news .post-img {
    float: left;
    margin: 0;
    overflow: hidden;
    width: 300px;
    display: inline-block;
    position: relative;
}
.list-news-post .item-news .post-img img{
    width: 100%;
}
.post-data {
    margin-top: 0;
    overflow: hidden;
    padding: 10px 10px 0 10px;
    position: relative;
}
.post-title{
    margin: 0;
}
.post-title a {
    color: #444;
    display: block;
    font-size: 21px;
    line-height: 1.3em;
    margin: 0;
    text-transform: uppercase;
}
.post-title a:hover{
    color: #2858a0;
}
.post-content{
    display: inline-block;
    padding: 0 10px 15px 0;
    width: 100%;
    line-height: 18px;
    font-size: 14px;
    font-style: normal;
    color: #333;
}
.redmoreNews {
    background: #fe6d01;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
}
.redmoreNews:hover{
    background: #333;
}
.redmoreNews a {
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 0;
    padding: 8px 15px;
    text-align: center;
    transition: all 0.1s linear 0s;
    vertical-align: middle;
    white-space: nowrap;
    color: #fff;
}
.post-format {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background 0.5s ease 0s;
    width: 100%;
    z-index: 2;
}
.post-format:hover {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.post-format .icon-file-text {
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 40px;
    left: 50%;
    line-height: 35px;
    margin: -20px 0 0 -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: scale(0, 0);
    transition: all 0.2s ease 0s;
    width: 40px;
}
.post-format:hover .icon-file-text {
    transform: scale(1, 1);
}
.list-giai-tri .icon-bullhorn {
    color: #bbbbbb;
    font-size: 18px;
}
.keyword-news {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 4px;
    width: 131px;
}
.content-right-product.search .btn{
     padding: 2px 5px;
}
.content-right-product.search {
    background: #f2f2f2;
}
.content-right-product.search form {
    white-space: nowrap;
}

.list-giai-tri {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-style: italic;
    margin-left: 27px;
    margin-top: 5px;
}
.list-giai-tri .icon-play-circle{
    color: #bbbbbb;
    font-size: 18px;
}
/*video*/
.left-video-view{
    display: inline-block;
    float: left;
    width: 235px;
}
.right-video-view{
    background: #f2f2f2 none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    float: right;
    padding: 5px 10px;
    width: 1000px;
}
.list-video-post .item-video {
    float: left;
    height: 260px;
    margin-bottom: 20px;
    min-height: 1px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 5px;
    position: relative;
    width: 33.22%;
}
.list-video-post .item-video .thumb {
    display: block;
    height: 180px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
}
.list-video-post .item-video .thumb img {
    border: 0 none;
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.post-format .icon-play{
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 40px;
    left: 50%;
    line-height: 35px;
    margin: -20px 0 0 -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: scale(0, 0);
    transition: all 0.2s ease 0s;
    width: 40px;
}
.post-format:hover .icon-play{
    transform: scale(1, 1);
}
.list-video-post .ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.list-video-post .title-item{
    font-size: 100%;
    font-weight: 400;
    margin-top: 12px;
    font-size: 14px;
    height: 18px;
}
.list-video-post .title-item a{
    color: #333;
    font-weight: bold;
}
.list-video-post .title-item a:hover{
    color: #2850a0;
}
.list-video-post .description .intro{
    font-size: 14px;
    height: 42px;
    overflow: hidden;
    width: 100%;
    color: #222;
}
.thumb.no-img{
    border: 1px solid #ddd;
}
.content-news.special li {
    list-style: outside none disc;
}
.content-like-video {
    clear: both;
    margin: 0 auto 10px;
    width: 900px;
}