/*site*/
body{
    overflow-x: hidden;
    background: #fff;
}
a{
    color: #333;
    outline: medium none;
    text-decoration: none;
}
.container {
    width: 1300px;
}
.link-top-head{
    background-color: #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    position: relative;
    padding: 5px 0px;
}
.top-header {
    clear: both;
    width: 100%;
}
.center-header{
    background: #fff;
    border: none;
    border-radius: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #d8d8d8;
}
#logo {
    border-radius: 5px;
    float: left;
    margin-top: 5px;
    overflow: hidden;
    margin-right: 15px;
}
span#logo{
    margin-bottom: 10px;
}
#logo img{
    border-radius: 4px;
    display: block;
    width: 100%;
}
.box-top-header-right {
    display: inline-block;
    float: right;
    margin-top: 8px;
    width: 72%;
}
.box-search {
    display: inline-block;
    float: left;
    margin-top: 1px;
    width: 100%;
    border: 2px solid #cc0000;
}
.keyword {
    border: medium none;
    padding: 5px;
    position: relative;
    top: 1px;
    width: 80%;
    font-style: italic;
}
.btn-search {
    background: #cc0000 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: right;
    font-style: italic;
    font-weight: bold;
    padding: 6px 15px;
}
.btn-search:hover{
    background: #c00000;
}
.box-login {
    display: inline-block;
    float: right;
}
.btnLog {
    color: #666;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}
.btnLog:hover,
.btnLog:focus,
.btnLog:active{
    color: #ff7300;
}
.box-login .link-normal {
    color: #666;
    font-size: 12px;
    padding-left: 10px;
}
.box-login .link-normal:hover{
     color: #ff7300;
}
.box-shop-cart {
    border: 2px solid #cc0000;
    display: inline-block;
    float: right;
    padding: 5px 15px 5px 5px;
    max-width: 22%;
}
.box-shop-cart .icon-shop{
    background: rgba(0, 0, 0, 0) url("../img/bg.png") no-repeat scroll -160px -118px;
    display: inline-block;
    height: 28px;
    width: 40px;
    vertical-align: top;
}
.num-in-cart {
    display: inline-block;
    font-family: tahoma !important;
    font-size: 15px;
    font-weight: bold;
    max-width: 95px;
    overflow: hidden;
    position: relative;
    top: 3px;
    vertical-align: top;
    white-space: nowrap;
}
.search-top-center{
    display: inline-block;
    float: left;
    margin-top: 1px;
    width: 70%;
}
.guide-link{
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    color: #555;
    clear: both;
    margin-top: 5px;
    display: inline-block;
    width: 100%;
}
.guide-link > a {
    font-weight: normal;
}
.phone-call-num{
    font-weight: bold;
    font-size: 12px;
    color: #555;
    clear: both;
    margin-top: 5px;
    display: inline-block;
    width: 100%;
}
.phone-call-num .icon-phone-head{
    background: rgba(0, 0, 0, 0) url("../img/bg.png") no-repeat scroll -178px -157px;
    color: #cc0000;
    font-size: 18px;
    font-weight: bold;
    padding-left: 25px;
    font-family: Arial,Helvetica,sans-serif;
}
.phone-call-num .time-work{
    color: #666;
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
}
/*content*/
.box-menu {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    min-height: 428px;
    width: 230px;
    border-top: none;
    position: relative;
    display: inline-block;
    float: left;
}
.title-cat-menu {
    background: #f2f2f2 none repeat scroll 0 0;
    border-bottom: 1px solid #e3e3e3;
    font-weight: bold;
    padding: 8px 5px 8px 12px;
    text-transform: uppercase;
}
.content-box-menu{
    clear: both;
    display: inline-block;
    width: 100%;
}
.content-box-menu > ul{
    margin-bottom: 0;
}
.content-box-menu > ul > li{
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    color: #333;
    display: block;
    height: 38px;
    line-height: 38px;
    padding-left: 13px;
    text-decoration: none;
}
.content-box-menu ul > li > a{
    text-transform: none;
}
.content-box-menu ul > li:last-child{
    border-bottom: none;
}
.content-box-menu .list-subcat{
    border: 1px solid #ddd;
    display: none;
    left: 100%;
    width: 702px;
    padding-left: 30px;
    padding-right: 15px;
    position: absolute;
    top: -1px;
    z-index: 22;
    min-height: 429px;
}
.content-box-menu ul > li:hover .list-subcat{
    display: inline-block;
}
.content-box-menu .list-subcat li {
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
}
.content-box-menu .list-subcat li a:hover{
    font-weight: bold;
}
.slider-box-mid {
    display: inline-block;
    float: left;
    height: 428px;
    width: 730px;
    margin-left: 5px;
}
.ads-right-mid{
    display: inline-block;
    float: right;
    height: 455px;
    width: 300px;
}
.item-right-slider {
    margin-bottom: 10px;
}
.item-right-slider:last-child{
    margin-bottom: 0px;
}
/*footer*/
#footer {
    border-top: 2px solid #cc0000;
    margin-top: 50px !important;
    padding: 20px 0 10px;
}
.icon-logo {
    border-radius: 5px;
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
    overflow: hidden;
}
.logo-footer .icon-logo img {
    width: 140px;
}
#footer .address {
    color: #000;
    display: inline-block;
    float: left;
}
#footer .address * {
    font-size: 14px;
}