/*site*/
body{
    overflow-x: hidden;
    background: #fff;
}
a{
    color: #333;
    outline: medium none;
    text-decoration: none;
}
.container {
    width: 1300px;
}
.link-top-head{
    background-color: #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    position: relative;
    padding: 5px 0px;
}
.top-header {
    clear: both;
    width: 100%;
}
.bottom-header {
    background: #cc0000 none repeat scroll 0 0;
    clear: both;
    display: inline-block;
    margin-top: 5px;
    width: 100%;
}
.bottom-header #navbar{
    margin: 0!important;
    padding: 0!important;
    
}
.bottom-header #navbar ul.menu-header{
    left: 0!important;
}
.navbar-inverse{
    background: #fff;
    border: none;
    border-radius: 0;
}
#logo {
    border-radius: 5px;
    float: left;
    margin-top: 5px;
    overflow: hidden;
    margin-right: 15px;
}
span#logo{
    margin-bottom: 10px;
}
#logo img{
    border-radius: 4px;
    display: block;
    width: 100%;
}
.box-top-header-right {
    display: inline-block;
    float: right;
    margin-top: 8px;
    width: 72%;
}
.box-search {
    display: inline-block;
    float: left;
    margin-top: 1px;
    width: 100%;
    border: 2px solid #cc0000;
}
.keyword {
    border: medium none;
    padding: 5px;
    position: relative;
    top: 1px;
    width: 80%;
    font-style: italic;
}
.btn-search {
    background: #cc0000 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    float: right;
    font-style: italic;
    font-weight: bold;
    padding: 6px 15px;
}
.btn-search:hover{
    background: #c00000;
}
.navbar-nav.menu-header{
    left: 9px;
    margin-top: 20px;
    position: relative;
     z-index: 2;
}
.menu-header.navbar-nav > li {
    margin: 0 2px;
    position: relative;
}
.menu-header.navbar-nav > li > a{
    color: #fff;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    position: relative;
}
.menu-header.navbar-nav li.act a,
.menu-header.navbar-nav li a:hover,
.menu-header.navbar-nav li a:focus,
.menu-header.navbar-nav li a:active{
    color: #fff !important;
    background: none!important;
}
.menu-header.navbar-nav li a:hover{
    text-decoration: underline!important;
}
.menu-header.navbar-nav li {
    position: relative;
}
/*.menu-header.navbar-nav li.home-focus a:hover{
    text-decoration: none!important;
}*/
#slider-box {
    display: inline-block;
    width: 100%;
    clear: both;
}
.wrapp-box {
    margin: 0 auto;
    position: relative;
    width: 1170px;
}
.slider-box-left {
    border-bottom: 0 none !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: inline-block;
    max-height: 322px;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
}
.slider-box-left img{
    width: 100%;
}
.slider-box-right{
    cursor: pointer;
    width: 97%;
    float: right;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    max-height: 322px;
    overflow: hidden;
}
.slider-box-right img {
    max-height: 315px;
    width: 100%;
}
.content-footer-bottom {
    background: none repeat scroll 0 0 #373737;
    margin-top: 50px;
}
.wrapp-content-footer-bottom div.address h4 {
    color: #9b9b9b !important;
    font-family: "Arial";
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.wrapp-content-footer-bottom div.address p {
    color: #9b9b9b !important;
    font-family: "Arial";
    font-size: 15px;
}
#back-top-wrapper {
    bottom: 20px;
    display: none;
    overflow: hidden;
    position: fixed;
    right: 45px;
    z-index: 99;
}
#back-top {
    color: #bbbbbb;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease 0s;
}
#back-top span {
    background: rgba(0, 0, 0, 0) url("../img/bg.png") no-repeat scroll -147px -192px;
    cursor: pointer;
    display: block;
    height: 28px;
    margin-bottom: 8px;
    opacity: 1;
    transition: all 1s ease 0s;
    width: 50px;
}
#back-top span:hover{
    opacity: 0.8;
}
.content-post-line ul {
    display: inline-block;
    width: 100%;
}
.content-post-line .item-product {
    position: relative;
}
.item-product .product-img img {
    background-color: #f7f7f7;
    position: relative;
    z-index: 1;
}
.item-product .product-img {
    max-height: 305px;
    overflow: hidden;
}
.right-post-product .product-img{
    max-height: none!important;
}
.item-product .product-img img {
    width: 100%;
    min-height: 305px;
}
.content-post-line .item-product .product-name {
    height: 50px;
    overflow: hidden;
    padding: 10px 0 0;
    text-align: left;
    display: inline-block;
    width: 100%;
    clear: both;
}
.price-sale-close{
    float: left;
    color: #999!important;
    font-size: 14px!important;
    text-decoration: line-through;
    margin-top: 5px;
}
.price-sale{
    float: right;
}
.item-product .product-name a {
    color: #333;
    transition: all 0.3s ease-in-out 0s;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none !important;
}
.item-product .product-name a:hover{
    color: #c10001;
}
.item-product .product-price{
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    color: #c00;
    font-family: Impact, Arial;
}
.box-top-header {
    display: inline-block;
    float: right;
    width: 78%;
    margin-top: 10px;
}
.catalog-menu {
    clear: both;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}
.box-login {
    display: inline-block;
    float: right;
}
.btnLog {
    color: #666;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}
.btnLog:hover,
.btnLog:focus,
.btnLog:active{
    color: #ff7300;
}
.box-login .link-normal {
    color: #666;
    font-size: 12px;
    padding-left: 10px;
}
.box-login .link-normal:hover{
     color: #ff7300;
}
.box-shop-cart {
    border: 2px solid #cc0000;
    display: inline-block;
    float: right;
    padding: 5px 15px 5px 5px;
    max-width: 22%;
}
.box-shop-cart .icon-shop{
    background: rgba(0, 0, 0, 0) url("../img/bg.png") no-repeat scroll -160px -118px;
    display: inline-block;
    height: 28px;
    width: 40px;
    vertical-align: top;
}
.num-in-cart {
    display: inline-block;
    font-family: tahoma !important;
    font-size: 15px;
    font-weight: bold;
    max-width: 95px;
    overflow: hidden;
    position: relative;
    top: 3px;
    vertical-align: top;
    white-space: nowrap;
}
.search-top-center{
    display: inline-block;
    float: left;
    margin-top: 1px;
    width: 70%;
}
.guide-link{
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    color: #555;
    clear: both;
    margin-top: 5px;
    display: inline-block;
    width: 100%;
}
.guide-link > a {
    font-weight: normal;
}
.phone-call-num{
    font-weight: bold;
    font-size: 12px;
    color: #555;
    clear: both;
    margin-top: 5px;
    display: inline-block;
    width: 100%;
}
.phone-call-num .icon-phone-head{
    background: rgba(0, 0, 0, 0) url("../img/bg.png") no-repeat scroll -178px -157px;
    color: #cc0000;
    font-size: 18px;
    font-weight: bold;
    padding-left: 25px;
}
.phone-call-num .time-work{
    color: #666;
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
}
.catalog-menu > li {
    display: inline-block;
    margin-right: 20px;
}
.catalog-menu > li a {
    color: #777777;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-transform: uppercase;
    position: relative;
}
.catalog-menu > li a:hover{
    color: #222;
}

.menu-item {
    font-weight: normal;
    height: 35px;
    left: 23px;
    position: absolute;
    text-transform: none;
    top: -25px;
    white-space: nowrap;
}
.menu-item span {
    background: none repeat scroll 0 0 #fe9649;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    padding: 2px 8px;
    text-transform: none;
}
.menu-item span::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fe9649 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 3px;
    bottom: -6px;
    content: "";
    display: block;
    height: 6px;
    left: 50%;
    margin: 0 0 0 -3px;
    position: absolute;
    width: 1px;
}
.line-post {
    clear: both;
    display: inline-block;
    width: 100%;
}
.line-post ul.product-tab {
    clear: both;
    display: inline-block;
    margin: 15px 0 0;
    overflow: hidden;
    width: 100%;
}
.line-post ul.product-tab li{
    border-bottom: 2px solid #e34242;
    color: #777;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
}
.line-post ul.product-tab li:hover{
    color:#222;
}
.line-post ul.product-tab li a {
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    min-width: 195px;
    padding: 10px 5px 5px 0px;
    text-transform: uppercase;
    font-weight: bold!important;
}
.line-post ul.product-tab li a:hover{
    color: #222;
}
.slider-box-right li {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #ddd;
    max-height: 103px;
    margin-bottom: 6px;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.ads-midd {
    clear: both;
    display: inline-block;
    height: 230px;
    margin-bottom: 18px;
    margin-top: 18px;
    overflow: hidden;
    border: 1px solid #ddd;
}
.ads-midd img {
    width: 100%;
}
#footer {
    border-top: 2px solid #cc0000;
    margin-top: 50px !important;
    padding: 20px 0 10px;
}
/*page static*/
.main-view-post {
    min-height: 400px;
    padding: 10px;
}
.title-head {
    border-bottom: 2px solid #cc0000;
    font-size: 20px;
    margin-top: 0 !important;
    text-align: center;
}
.title-head a,
.title-head a:hover,
.title-head a:focus,
.title-head a:active{
    color: #222;
    text-transform: uppercase;
    font-size: 20px;
    font-style: italic;
}
.post-update{
    font-size: 15px;
    color: #ff0000;
    text-align: center;
}
.view-content-static,
.view-content-static * {
    font-size: 15px;
}
.view-content-static .tile-box-head {
    clear: both;
    color: #222;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid #ddd;
}
.formSendContact textarea{
    max-width: 100%!important;
    min-width: 100%!important;
}
.formSendContact label {
    font-style: italic;
}
.formSendContact label span{
    color: #ff0000;
}
.address-contact,
.address-contact *{
    font-size: 15px;
}
.address-contact img {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ddd;
}
.main-view-post.blog .product-name h3 {
    font-size: 18px;
    margin-top: 10px;
}
.main-view-post.blog .product-name h3 a:hover{
    text-decoration: underline;
}
.main-view-post.blog .product-desc {
    font-size: 15px;
    height: 65px;
    overflow: hidden;
    text-align: justify;
}
.main-view-post.blog .date{
    color: #999;
    font-size: 12px;
    font-style: italic;
}

.main-view-post.blog .product-img img {
    min-height: 225px;
    width: 100%;
}
.main-view-post.blog .item-product {
    border-radius: 2px;
    margin-top: 10px;
}
.main-view-post.blog .item-product:hover{
    background: #f9f9f9;
}
.main-view-post.blog  .product-img {
    height: 225px;
    overflow: hidden;
}
.list-page-show.front-end {
    clear: both;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}
.list-page-show.front-end .item-list .pager li{
    margin: 0px;
    padding: 0px;
}
.list-page-show.front-end .pager li > a, .list-page-show.front-end .pager li > span{
    border-radius: 0 !important;
}
.list-page-show.front-end .pager li > a:hover,
.list-page-show.front-end .pager li > a:focus,
.list-page-show.front-end .pager li > a:active{
    color: #222;
}
.list-page-show.front-end .pager .pager-current{
    margin: 0 !important;
    padding: 4px 7px !important;
}
.wrap-main-view h1.title-view, .wrap-main-view h2.title-view {
    clear: both;
    color: #000000;
    display: inline-block;
    font-size: 20px;
    width: 100%;
}
.wrap-main-view .date-view {
    clear: both;
    color: #848484;
    display: inline-block;
    font-size: 10px;
    width: 100%;
}
.wrap-main-view .social-view {
    border-bottom: 1px dotted #d4d4d4;
    border-top: 1px dotted #d4d4d4;
    clear: both;
    display: inline-block;
    margin: 5px 0;
    padding: 5px 0;
    width: 100%;
}
.like-facebook {
    display: inline-block;
    position: relative;
    top: 0px;
}
.social-share {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -2px;
}
.social-share > a.facebook {
    background: rgba(0, 0, 0, 0) url("../img/bg.png") no-repeat scroll 0 -89px;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    text-indent: -99999em;
    width: 22px;
}
.social-share > a.google {
    background: rgba(0, 0, 0, 0) url("../img/bg.png") no-repeat scroll -24px -89px;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    text-indent: -99999em;
    width: 22px;
}
.social-share > a.zing {
    background: rgba(0, 0, 0, 0) url("../img/bg.png") no-repeat scroll -70px -89px;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    text-indent: -99999em;
    width: 22px;
}
.wrap-main-view .intro-view {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    margin: 5px 0;
    text-align: justify;
    width: 100%;
}
.wrap-main-view .content-view {
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    margin: 5px 0;
    text-align: justify;
    width: 100%;
}
.same-post-list{
    clear: both;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

.same-post-list .same-view {
    border-bottom: 1px solid #ddd;
    clear: both;
    color: #000000;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 2px 0;
    width: 100%;
}
ul.list-same-post li {
    background: rgba(0, 0, 0, 0) url("../img/bg.png") no-repeat scroll -190px 8px;
    clear: both;
    display: inline-block;
    margin-bottom: 5px;
    max-height: 30px;
    overflow: hidden;
    padding: 0 0 0 10px;
    width: 100%;
}
ul.list-same-post li a {
    color: #000000;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    max-width: 500px;
    text-decoration: none;
}
ul.list-same-post li a:hover{
    text-decoration: underline;
}
ul.list-same-post li span {
    color: #666666;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
}
.blog-view .right-post-product img{
    border: 1px solid #555;
}
.blog-view .left-post-view-more img {
    height: auto !important;
    max-width: 100% !important;
    width: auto!important;
}
.count-view-post {
    border-bottom: 2px solid #ddd;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 18px;
    width: 92%;
}
.text-left{
    text-align: left!important;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.mgl25{
    margin-left: 25px;
}
.money.price-normal {
    font-size: 15px !important;
    text-decoration: line-through;
    color: #666!important;
}
.red{
    color: #ff0000!important;
}
.bold{
    font-weight: bold;
}
.updating{
    font-size: 20px;
    color: #cc0000;
    text-align: center;
    margin: 20px 0px;
    font-style: italic;
}
.item-product {
    margin-bottom: 20px;
    border: 2px solid #f5f5f5;
    border-radius: 2px;
    padding: 4px;
    display: inline-block;
    width: 100%;
    clear: both;
}
.item-product:hover{
    border:2px solid #bc0000;
    -webkit-transition:border-color .2s ease-in;
    -moz-transition:border-color .2s ease-in;
    -ms-transition:border-color .2s ease-in;
    -o-transition:border-color .2s ease-in;
    transition:border-color .2s ease-in
}
.main-view-post.product-view {
    display: inline-block;
    width: 100%;
}
.show-intro {
    border-top: 1px solid #ddd;
    font-size: 15px;
    margin-bottom: 10px;
    padding-top: 10px;
}
/*vote*/
.vote-star{
    clear:both;
    margin-top:10px;
    display:inline-block;
}
.vote-star a{
    background:url(../img/star0.png) no-repeat top center;
    display:inline-block;
    width:16px;
    height:16px;
    text-indent:-9999em
}
.vote-star a.act{
    background:url(../img/star1.png) no-repeat top center;
}
.vote-star a.vote{
    background:url(../img/star1.png) no-repeat top center;
}
.result-vote {
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 1px;
    font-style:italic;
}

.result-vote > span {
    color: #ff0000;
}
.reviewvote {
    display: inline-block;
    margin-left: 5px;
    color: #199cb7;
}
.reviewvote:hover{
    text-decoration:underline
}
.show_resutl_vote{
    clear:bold;
    margin-top:10px;
    margin-bottom:10px;
}
.how-vote {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 10px;
}
.line-vote-show-result {
    clear: both;
    margin-bottom: 30px;
    margin-top: 10px;
    width: 100%;
}
.precent_vote {
    width: 250px;
}
.line-vote-show-result ul li{
    margin-bottom:10px;
    clear:both;
}
.label-star {
    color: #000;
    display: inline-block;
    float: left;
    font-weight: bold;
    width: 50px;
    vertical-align: top;
}
.percent-star {
    display: inline-block;
    float: left;
    height: 15px;
    vertical-align: top;
    width: 165px;
}
.num-count-star{
    display: inline-block;
    float: right;
    height: 15px;
    vertical-align: top;
}
.percent-star span{
    background: none repeat scroll 0 0 #ffb319;
    display:inline-block;
    border-radius:3px;
    height:10px;
    border-bottom:1px solid #91b537;
}
/*end vote*/
.product-view .thread-details-title {
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    margin-top: 0;
    position: relative;
}
.title-view-full {
    display: none !important;
}
.title-group .code-details {
    clear: both;
    color: #ed1c24;
    font-weight: bold;
    margin-bottom: 10px;
}
.title-group .code-details {
    clear: both;
    color: #ed1c24;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 18px;
}
.title-group .thread-details-price {
    display: inline-block;
    margin-bottom: 10px !important;
    width: 100%;
}
.group-price {
    display: inline-block;
    float: left;
    width: 62%;
}

.title-group .thread-details-price .item-price-title {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 17px;
    padding-right: 82px;
    position: relative;
    top: 5px;
}
.price-normal {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 15px;
    padding-right: 40px;
    position: relative;
    text-decoration: line-through;
    top: 5px;
}
.price-red {
    color: #fff !important;
    float: right;
    font-size: 23px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}
.code-product {
    clear: both;
    display: inline-block;
    font-size: 15px;
    margin-top: 11px;
    width: 62%;
}
.code-product span{
    color:#cc0000;
}
.view-img-slider img {
    max-width: 100%;
    width: auto;
}
.item-img-main .img-main-view{
    border: 1px solid #f2f2f2;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
}
.arr-img {
    clear: both;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
.label-star {
    color: #000;
    display: inline-block;
    float: left;
    font-weight: bold;
    vertical-align: top;
    width: 50px;
}
.num-count-star {
    display: inline-block;
    float: right;
    height: 15px;
    vertical-align: top;
}
.bd-vote-start {
    border-bottom: 2px solid #ddd;
    display: inline-block;
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 100%;
}
.box-content-view-more {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
.conditions-tab {
    clear: both;
    display: inline-block;
    margin-top: 18px;
    width: 100%;
}
.ul-dieukien-noibat-khuyenmai {
    border-bottom: 2px solid #e6e6e6;
    height: 29px;
    overflow: hidden;
}
.ul-dieukien-noibat-khuyenmai li {
    background: #f6f6f6 none repeat scroll 0 0;
    border-radius: 2px 2px 0 0;
    color: #000000;
    cursor: pointer;
    float: left;
    font-family: "Arial";
    font-size: 18px;
    line-height: 30px;
    margin-right: 5px;
    padding: 0 30px;
}
.ul-dieukien-noibat-khuyenmai li.selected {
    background: #666;
    color: #ffffff;
}
.product-view .thread-details-contant {
    color: #000000;
    font-family: "Arial";
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
    padding: 0;
    width: 100%;
}
.product-view .thread-details-content-view *{
    color: #333333;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    padding: 0 0 10px;
    text-align: left;
}
.item-price sup{
    font-weight: normal;
    font-size: 12px;
}

.product-price sup {
    font-size: 12px !important;
    font-weight: normal;
}
.box-guide-buy-pay{
    margin: 0px 2px 15px;
}
.title-guide-buy-pay{
    background: #d4d4d4 none repeat scroll 0 0;
    border-bottom: 1px solid #333;
    font-weight: bold;
    padding: 5px 0;
    position: relative;
    text-indent: 9px;
} 
.view-more-guide-buy-pay{
    background: #d4d4d4 none repeat scroll 0 0;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px auto 0;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    top: -25px;
    width: 100px;
}
.content-guide-buy-pay{
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    height: 125px;
    overflow: hidden;
}
.wrap-content-guide-buy-pay {
    font-size: 15px;
    padding: 10px 10px 20px;
}
.content-guide-buy-pay.act {
    height: 100%;
}
.box-order-product{
    background: #edeff4 none repeat scroll 0 0;
    border-radius: 2px;
    width: 100%;
}
.wrapp-box-order-product{
    padding: 10px;
}
.wrapp-box-order-product .bg-blue {
    background: #3b5998 none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    padding: 5px;
}
.title-form-infor {
    font-family: "Arial";
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.note-face {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
form.frmOrder {
    margin-top: 10px;
}
.frmOrder label {
    font-style: italic;
}
.frmOrder label span {
    color: #ff0000;
}
.frmOrder .des {
    display: block;
    font-size: 12px;
    font-style: italic;
}
.social-view.share-button {
   border-bottom: none;
   border-top: none;
}
.form-control.error {
    border: 1px solid #ff0000!important;
}
.clsnum{
    display: inline-block;
    width: auto!important;
    clear: both;
}
.title-thanks-order{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #222;
    font-style: italic;
}
.content-thanks-order{
    font-size: 15px;
    font-style: italic;
    margin-top: 10px;
    text-align: center;
}
.note-thanks-order{
    text-align: center;
    margin-top: 20px;
}
.note-thanks-order a:hover{
    text-decoration: underline;
}
.fixed-box-shop-cart {
    position: fixed;
    right: 0;
    top: 50%;
    display: inline-block;
    z-index: 9;
}
.bg-shop-cart {
    background: #f2f2f2 url("../img/bg.png") no-repeat scroll 15px -159px;
    border: 1px solid #ccc;
    border-radius: 100%;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    height: 155px;
    line-height: 190px;
    overflow: hidden;
    text-align: center;
    width: 155px;
}
.bg-shop-cart:hover{
    background: #337ab7 url("../img/bg.png") no-repeat scroll 15px -159px;
    border: 1px solid #2e6da4;
}
.fixed-box-shop-cart a{
    color: #ff0000!important;
    font-size: 20px;
}
.btn-add-cart.btn-primary {
    background: #fff;
    border: 1px dashed #ea4647;
    color: #cc0000;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    padding: 10px 15px;
}
.btn-add-cart.btn-primary:hover{
   border: 1px dashed #ccc;
}
.btndefault.btn-primary {
    border-radius: 2px;
    clear: both;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px 12px;
}
.list-btn-control{
    clear: both;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-size: 15px;
}
.list-shop-cart-item .first th{
    background: #f2f2f2;
    border: 1px solid #ddd;
    padding: 5px;
}
.list-shop-cart-item tr td{
    border: 1px solid #ddd;
    padding: 5px;
}
.list-shop-cart-item tr.even td{
    background: #f2f2f2;
}

.list-shop-cart-item  tr.odd td{
    background: #fff;
}
.list-shop-cart-item  tr td .num-item-in-one-product{
    border: 1px solid #ddd;
    padding: 5px;
    width: 70px;
}
.not-product-in-cat {
    color: #ff0000;
    font-style: italic;
}
form#txtFormPaymentCart {
    margin: 0 auto;
    margin-top: 10px;
    width: 50%;
}
.form-group label span{
    color: #ff0000;
}
#typeProduct li a.act{
    color: #222!important;
}
.main-view-post.blog .product-name a {
    font-size: 15px;
}
.thread-details-content-view img {
    height: auto !important;
    max-width: 80%!important;
    width: auto!important;
}
.item-one-img-view {
    border: 1px solid #f2f2f2;
    display: inline-block;
    height: auto;
    margin-bottom: 5px;
    overflow: hidden;
    width: 23%;
}
.line-price-total {
    display: inline-block;
    font-weight: bold;
}
.line-price-total .total-price{
    color: #ff0000;
}
.line-price-total sup{
   color: #ff0000;
   font-weight: normal;
}

.view-img-slider .item-status{
    background: #d4232b;
    border-radius: 2px;
    color: #ffffff;
    display: block;
    font-size: 15px;
    left: 20px;
    padding: 4px 10px;
    position: absolute;
    text-transform: uppercase;
    top: 20px;
    z-index: 1;
}
.page-user #content #block-system-main form input.form-text {
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.page-user #content #block-system-main form input.form-text:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.list-call {
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 5px 0;
    text-align: right;
}
.list-call > span{
    padding-right: 5px;
    padding-left: 5px
}
.list-call .icon-phone {
    background: rgba(0, 0, 0, 0) url("../img/bg.png") repeat scroll right -90px;
    display: inline-block;
    height: 16px;
    margin-right: 10px;
    position: relative;
    top: 1px;
    width: 16px;
}
.fixed-header.heade-fixed{
    left: 0;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;
}
.icon-logo{
    border-radius: 5px;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
    overflow: hidden;
    display: inline-block;
}
.logo-footer .icon-logo img {
    width: 140px;
}
#footer .address {
    display: inline-block;
    float: left;
    color: #000;
}
#footer .address *{
    font-size: 14px!important;
}
.box-left-slider{
    background: #fff;
    border: 1px solid #ddd;
    height: 446px;
    min-height: 446px;
    overflow: hidden;
    width: 100%;
}
.box-right-slider{
    width: 100%;
    min-height: 446px;
    max-height: 446px;
    overflow: hidden;
}
/*category menu left*/
#header .navbar {
    margin-bottom: 10px;
}
.title-cat-menu-left {
    background: #f2f2f2;
    font-weight: bold;
    padding: 5px 5px 5px 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #e3e3e3;
}
.cat-menu-parent {
    padding: 5px 10px;
}
.cat-menu-parent > li {
    margin-left: 3px;
    margin-bottom: 10px;
}
.cat-menu-parent > li > a{
    border-bottom: 4px solid #c00000;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 3px;
    text-transform: uppercase
}
.cat-menu-parent > li > a:hover{
    color: #c00000;
}
.cat-submenu {
    clear: both;
    display: inline-block;
    margin-top: 12px;
    width: 100%;
}
.cat-submenu li a {
    background: rgba(0, 0, 0, 0) url("../img/bg.png") no-repeat scroll -188px -241px;
    color: #222;
    font-size: 15px;
    padding-left: 12px;
}
.cat-submenu li a:hover{
    background: rgba(0, 0, 0, 0) url("../img/bg.png") no-repeat scroll -188px -271px;
    color: #cc0000;
    text-decoration: underline;
}
.item-right-slider {
    margin-bottom: 10px;
}
.social-share-footer {
    display: inline-block;
    float: right;
}
.div-share {
    display: inline-block;
    float: left;
}
.div-share.google {
    margin-left: 10px;
    position: relative;
    top: 1px;
}
/*line in home*/
.content-post-line{
   background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    display: inline-block;
    margin-top: -4px;
    min-height: 508px;
    position: relative;
    width: 100%;
}
.content-post-line .item-in-row{
    display: inline-block;
    float: left;
    height: 252px;
    padding: 5px 7px;
    width: 156px;
}
.content-post-line .item-in-row .thumb .image-wrap {
    display: inline-block;
    height: 136px;
    margin: 14px 0;
    overflow: visible;
    position: relative;
    vertical-align: middle;
    width: 136px;
}
.content-post-line .item-in-row .title-show-name {
    height: 35px;
    margin: 5px 0;
    overflow: hidden;
}
.content-post-line .item-in-row .title-show-name a:hover{
    color: #19568d;
    text-decoration: underline;
}
.content-post-line .item-in-row .thumb img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-height: 136px;
    max-width: 136px;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
}
.content-post-line .item-in-row p {
    margin: 0;
}
.content-post-line .item-in-row label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 100%;
}
.content-post-line .item-in-row .text-color-red {
    color: #cc0000;
}
.content-post-line .item-in-row .text-price{
    font-weight: bold!important;
}
/*item in row product*/
.left-row-post-line {
    height: 508px;
    width: 100%;
    border-right: 1px solid #ddd;
}
.right-row-post-line {
    padding-right: 15px;
}
.left-row-post-line a {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    display: inline-block;
    float: left;
    height: 127px;
    margin: 0;
    overflow: hidden;
    padding: 10px 5px;
    text-align: center;
    width: 50%;
}
.left-row-post-line a.even{
    border-right: none;
} 
.left-row-post-line a img {
    display: block;
    margin: 5px auto;
    max-height: 70px;
    max-width: 70px;
}
.left-row-post-line a:hover{
    color: #19568px!important;
    text-decoration: none;
}
.item-cat-7,
.item-cat-8{
    border-bottom: none!important
}
.list-button-view {
    background: #fcfcf3 url("../img/texture.png") repeat scroll left top;
    border: 1px solid #f1d3ac;
    display: inline-block;
    padding: 10px 18px;
    width: 62%;
}
.btn-view-cart.btn-primary{
    background: #cc0000 ;
    border: 1px solid #cc0000;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    padding: 10px 50px;
    margin-right: 20px;
}
.btn-view-cart.btn-primary:hover,
.btn-view-cart.btn-primary:focus{
    background: #ac0000;
}
.social-share-view {
    margin: 10px 15px;
}
.thread-details-content-view,
.thread-details-content-view *{
    font-size: 15px;
}
.thread-details-content-view ul li {
    display: inline-block;
    margin-right: 5px;
    width: 45%;
    vertical-align: top;
}
.dieukien-noibat-view *{
    font-size: 15px;
}
.dieukien-noibat-view {
    border-bottom: 1px dashed #f2f2f2;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.box-content-view-more .product-img img {
    max-width: 100%;
}

.box-content-view-more .product-info .product-name{
    margin: 5px 0;
    overflow: hidden;
}
.box-content-view-more .product-price .text-color-red{
    color: #c00;
}
.box-content-view-more .product-price .text-color-red .text-price{
    color: #c00;
    font-size: 18px;
}
.box-content-view-more .product-name > a {
    font-size: 15px;
}
.box-content-view-more .product-name{
    margin-top: 5px;
    display: inline-block;
    width: 100%;
}
.box-content-view-more .product-name > a:hover {
    text-decoration: underline;
}
.box-shop-cart:hover {
    border: 2px solid #ddd;
}
.grid-shop-cart * {
    font-size: 15px;
}
.thread-details-content-view table tbody {
    border-top: medium none;
}
.box-content-view-more .item-product .product-img {
    height: auto!important;
    max-height: none !important;
    margin-bottom: 5px;
}
.wrap-main-view .content-post-line{
    border: none;
    margin-top: 0;
}
.size-product-right .product-size {
    display: inline-block;
}
.size-product-right .product-size li{
    border: 1px solid #b8b7bd;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    min-width: 35px;
    min-height: 35px;
}
.size-product-right .product-size li:hover{
    border: 1px solid #c40001;
    cursor: pointer;
}
.size-product-right .product-size li.disable{
    border: 1px dashed #b8b7bd;
    cursor: not-allowed;
    color: #ccc;
}
.size-product-right .product-size li.act{
    border: 1px solid #c40001;
    background: url(../img/check.png) no-repeat bottom right;
}
.size-product-right .txt-size{
    font-size: 14px;
    padding-right: 10px;
}
.size-product-right #message-qty {
    clear: both;
    display: inline-block;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}
.list-link-cat{
    border: 1px solid #ddd;
}
.list-link-cat {
    border: 1px solid #ddd;
    clear: both;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 10px 2px;
    width: 100%;
}
.list-link-cat ul{
    margin-bottom: 0px;
}
.list-link-cat li {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
}
.list-link-cat li a{
    color: #333;
    font-style: italic;
}
.list-link-cat li a:hover{
    color: #cc0000;
}
.list-link-cat .click-more-view-cat {
    background: #fff url("../img/arrow-more.png") no-repeat scroll center -20px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    height: 10px;
    margin: 0 auto;
    margin-bottom: -12px;
    width: 100px;
    cursor: pointer;
}
.list-link-cat.act .click-more-view-cat{
    background: #fff url("../img/arrow-more.png") no-repeat scroll center 0px;
}
.list-link-cat  ul{
    height: 22px;
    overflow: hidden;
}
.list-link-cat.act ul{
    height: auto;
}
.list-sub-in-cat-parent{
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
    height: 446px;
    left: 188px;
    padding: 0 28px;
    position: absolute;
    top: 0;
    width: 748px;
    z-index: 10;
}
.box-left-slider>ul>li:hover .list-sub-in-cat-parent{
    display: block;
}
