/*shop*/
.box-register .title-head{
	text-align: left;
}
.main-view-post .form-control:focus{
	box-shadow: none;
}
a.btn-face {
    background: rgba(0, 0, 0, 0) url("../img/social.png") no-repeat scroll 0px 0px;
    display: inline-block;
    height: 42px;
    width: 242px;
}
a.btn-face:hover{
  background-position: -253px 0;
}
a.btn-google {
    background: rgba(0, 0, 0, 0) url("../img/social.png") no-repeat scroll 0px -47px;
    display: inline-block;
    height: 42px;
    width: 242px;
}
a.btn-google:hover{
  background-position: -253px -47px;
}
a.btn-yahoo {
    background: rgba(0, 0, 0, 0) url("../img/social.png") no-repeat scroll 0px -96px;
    display: inline-block;
    height: 42px;
    width: 242px;
}
a.btn-yahoo:hover{
  background-position: -253px -96px;
}
.login-other {
    #background: rgba(0, 0, 0, 0) url("../img/line-or.png") no-repeat scroll right 30px;
    #width: 94%;
    border-right: 1px solid #ddd;
    height: 235px;
    width: 102%;
}
.title-login-other {
    font-size: 18px !important;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 12px;
}
.box-register label {
    display: inline-block;
    font-weight: normal;
    width: 135px;
    float: left;
    margin-top: 5px;
}
.box-register .form-left-reg {
    display: inline-block;
    margin-right: 10px;
    width: 45%;
    float: left;
}
.box-register .form-right-reg{
	display: inline-block;
    width: 45%;
    float: right;
}
.box-register .form-group{
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
}
.box-register .form-control {
    display: inline-block;
    float: left;
    width: 195px;
}
.title-login-me {
    font-size: 18px !important;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 12px;
}
.box-register .form-group-action{
	clear: both;
	width: 100%;
}
.box-register .agree {
    margin-left: 135px;
}
.box-register  .agree input {
    float: left;
    margin-right: 5px;
}
.box-register .agree span {
    display: inline-block;
    float: left;
    font-size: 13px;
    font-style: italic;
}
.box-register .list-action{
    margin-left: 135px;
}
.title-head span {
    font-size: 14px;
}
/*manager shop*/
.main-manager-shop .header{
    background: #222d32;
    border-top: 1px solid #97bd47;
    height: 45px;
    width: 100%;
    display: inline-block;
}
.wrapp-shop{
    margin: 0 20px;
}
.left-head-shop {
    display: inline-block;
    float: left;
    width: 70%;
}
.left-head-shop .icon-dashboard::before {
    color: #fff;
    font-size: 20px;
    float: left;
    margin-top: 10px;
}
.left-head-shop .navigator {
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}
.left-head-shop .navigator ul{

}
.left-head-shop .navigator ul li {
    display: inline-block;
    margin-right: 20px;
}
.left-head-shop .navigator ul li a{
    color: #fff;
}
.left-head-shop .navigator ul li a:hover{
    text-decoration: underline;
}
.main-manager-shop .header .right-head-shop {
    color: #fff;
    display: inline-block;
    float: right;
    line-height: 44px;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
}
.main-manager-shop .header .right-head-shop:hover{
    background: #222;
}
.main-manager-shop .header .right-head-shop:hover .panel-user-shop{
    display: block;
}
.panel-user-shop {
    background: #222 none repeat scroll 0 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: absolute;
    right: 0;
    width: 200px;
    z-index: 2;
    line-height: 25px;
    padding: 0 10px;
    display: none;
}
.panel-user-shop ul{
    display:inline-block;
    width: 100%;
}
.panel-user-shop li{
    display:inline-block;
    width: 100%;
    margin-bottom:5px;
}
.panel-user-shop li a{
    color: #fafafa;
    display:inline-block;
    width: 100%;
}
.panel-user-shop li a:hover{
    text-decoration: underline;
}
.box-shop-search{
    border:1px solid #d4d4d4;
    margin: 10px 0px;
    display: inline-block;
    width: 100%;
}
.title-box-shop-search{
   background: #f5f5f5;
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#ececec 100%);
    background: -o-linear-gradient(top,  #fcfcfc 0%,#ececec 100%);
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#ececec 100%);
    background: linear-gradient(to bottom,  #fcfcfc 0%,#ececec 100%);
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d4d4d4;
    font-weight: bold;
    text-indent: 20px;
    font-size: 13px;
}
.content-box-shop-search {
    margin: 15px 0;
}
.wrapp-box-info{
    margin: 0 15px;
}
.title-table-shop-shop {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    font-style: italic;
}
.list-shop-show{
    padding: 10px 0px;
}
.show-box-paging {
    display: inline-block;
    width: 100%;
}
.show-box-paging .total-rows {
    color: #222;
    display: inline-block;
    font-size: 15px;
    width: 30%;
}
.show-box-paging .showListPage {
    display: inline-block;
    float: right;
    max-width: 65%;
    width: auto;
}
.show-box-paging .showListPage {
    margin: 0;
}
.show-box-paging .showListPage .item-list ul li {
    padding: 0;
}
.show-box-paging .showListPage .pager li > a, 
.show-box-paging .showListPage .pager li > span {
    border-radius: 0;
}
.showListItem table {
    border: 1px solid #ddd;
}
.showListItem table tr{
    height: 35px;
}
.showListItem table td, .showListItem table th {
    border-left: 1px solid #efefef;
    border-top: 1px solid #efefef !important;
    line-height: 20px !important;
    padding: 0 8px !important;
    text-align: left;
    vertical-align: middle !important;
    background: #fff;
}
.font-size-20{
    font-size: 20px;
}
.green{
    color: green;
}
.control-group {
    clear: both;
    margin-bottom: 15px;
}
.control-label span{
    color: #ff0000;
}
.line-full{
    clear: both;
    display: inline-block;
    width: 100%;
}
#sys_drag_sort {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    max-width: 95%;
    clear: both;
}
#sys_drag_sort li {
    border: 1px solid #ddd;
    display: inline-block;
    float: left;
    height: 158px;
    margin: 5px 5px;
    overflow: hidden;
    padding: 3px;
}
#sys_drag_sort .div_img_upload img {
    border-bottom: 1px solid #ddd;
}
.link-breadcrumb {
    background: #f2f2f2;
    border-radius: 2px;
    margin: 0 10px;
    padding: 8px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.link-breadcrumb a {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
.link-breadcrumb a:hover{
    text-decoration: underline;
}
.icon-double-angle-right::before {
    font-size: 15px;
    padding: 0 10px;
}
.left-category-shop {
    background: #f3f3f3;
    border: 1px solid #eee;
    border-radius: 2px;
    display: inline-block;
    float: left;
    padding: 12px 15px 15px;
    width: 18%;
}
.title-category-parent {
    font-size: 15px;
    margin-bottom: 10px;
}
.left-category-shop ul{
    margin: 0 10px;
}
.left-category-shop ul li{
    clear: both;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.left-category-shop ul li a{
    color: #333;
}
.left-category-shop ul li a:hover,
.left-category-shop ul li a.act{
    color: #0388cd;
}
.right-show-product-shop.body-list-item {
    display: inline-block;
    float: right;
    width: 80%;
}
.body-list-item .banner-shop-content {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}
.body-list-item .banner-shop-content  img{
    width: 100%;
}
.body-list-item .content-list-item{
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 30px;
}
.body-list-item .content-list-item >div:hover {
    box-shadow: 0 0 2px rgba(87, 87, 87, 0.6);
}
.body-list-item .item {
    padding-top: 8px;
    height: 405px;
    display: inline-block;
}
.body-list-item  .post-thumb {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    position: relative;
    height: 240px;
    line-height: 240px;
    overflow: hidden;
}
.body-list-item .post-thumb img {
    width: 100%;
}
.body-list-item .title-info {
    margin-bottom: 8px;
    min-height: 65px;
}
.body-list-item .post-title {
    font-size: 12px;
    height: 36px;
    line-height: 1;
    margin: 0 0 8px;
    overflow: hidden;
}
.body-list-item .post-title a{
    color: #666;
    font-size: 13px;
    line-height: 18px;
}
.body-list-item .post-title a:hover{
    color: #0388cd;
}
.item-price {
    height: 18px;
    letter-spacing: -0.8px;
    line-height: 18px;
}
.amount-1 {
    color: #c63829;
    font-size: 18px;
    font-weight: 400 !important;
    margin-right: 4px;
}
.amount-2 {
    color: #666 !important;
    position: relative;
     text-decoration: line-through;
}
.amount-call {
    color: #666 !important;
    position: relative;
}
.num-call{
    color: #c63829;
    font-size: 18px;
    font-weight: 400 !important;
    font-style: normal;
    margin-left: 5px;
}
.sale-off {
    background: #d60c0c none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    font-family: Roboto-Medium,sans-serif;
    font-weight: 400 !important;
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
.item-rating {
    margin-top: 8px;
    overflow: hidden;
}
.rating-box {
    background: transparent url("../img/bg-rating.png") repeat-x scroll 0 0;
    display: block;
    font-size: 0;
    height: 12px;
    margin-right: 5px;
    margin-top: 0;
    text-indent: -999em;
    width: 50px;
}
.rating-box .rating {
    background: transparent url("../img/bg-rating.png") repeat-x scroll 0 100%;
    display: block;
    height: 12px;
}
.item-banner{
    color: #555;
    display: none;
    height: 35px;
    margin-top: 8px;
    overflow: hidden;
}
.body-list-item .item:hover .item-banner{
    display: block;
}
.form-group span.show-error {
    clear: both;
    color: #ff0000 !important;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    margin-left: 134px;
    width: 100%;
}
/*detail*/
.left-slider-img {
    display: inline-block;
    float: left;
    width: 425px;
}
.list-thumb-img {
    float: left;
    max-height: 500px;
    overflow: hidden;
    width: 60px;
}
.list-thumb-img li {
    margin: 0 0 10px;
    display: inline-block;
    width: 100%;
}
.list-thumb-img li a {
    border: 1px solid #d1d1d1;
    display: block;
    max-height: 80px;
    min-height: 50px;
    overflow: hidden;
    width: 50px;
    padding: 5px 0px;
}
.list-thumb-img a img {
    transition-duration: 0.2s;
    width: 100%;
}
.list-thumb-img a.act {
    border: 1px solid #ff0000;
}
.left-slider-img .max-thumb-img {
    float: left;
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 350px;
}
.left-slider-img .max-thumb-img img{
    width: 100%;
}
.center-des-product {
    display: inline-block;
    float: left;
    width: 520px;
}
.center-des-product h1 {
    color: #444;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 10px;
    position: relative;
}
.row-price .lbl-row {
    color: #888;
    float: left;
    margin-top: 3px;
    width: 100px;
}
 .row-price .price-origin {
    color: #555;
    font-size: 16px;
    text-decoration: line-through;
}
 .row-price .price-origin {
    color: #555;
    font-size: 16px;
    text-decoration: line-through;
}
.row-price .price-sale {
    color: #ac0000;
    display: inline-block;
    float: left;
    font-size: 24px;
    font-weight: bold;
}
.row-price .lbl-row.lbl-price-sale {
    margin-top: 10px;
}
.features-point {
    border-top: 1px dotted #ddd;
    clear: both;
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
}
.features-point .lbl-point {
    color: #177fc2;
    font-size: 15px;
    padding-bottom: 5px;
}
.features-point .des-point{
    clear: both;
    display: inline-block;
    width: 100%;
    font-size: 13px;
    line-height: 20px;
}
.box-promotion {
    border: 1px dashed #3b718d;
    color: #211f20;
    margin-top: 20px;
    padding: 10px;
    background: #f9f9f9;
}
.right-des-product {
    display: inline-block;
    float: right;
    width: 280px;
}
.content-right-product {
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    margin-bottom: 8px;
    padding: 15px;
}
.right-des-product .order-number{
    margin-bottom: 10px;
    text-align: center;
}
.right-des-product .order-number label {
    color: #555;
    margin-right: 5px;
    font-weight: normal;
}
.right-des-product .order-number select {
    border: 1px solid #ccc;
    height: 24px;
    min-width: 55px;
    padding: 0 3px;
}
.right-des-product .buynow {
    background: #f89406;
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #f89406, #f76b1c) repeat scroll 0 0;
    border: 1px solid #d97f00;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    width: auto!important;
    cursor: pointer;
}
.right-des-product .buynow:hover{
     background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #e98500, #ff7d2e) repeat scroll 0 0;
}
.order-number-phone{
    margin-bottom: 10px;
    line-height: 18px;
    font-weight: normal;
}
.number-phone{
    color: #222;
    font-size: 18px;
}
.icon-phone:before {
    color: #999;
    font-size: 25px;
    position: relative;
    top: 2px;
}
.order-number-phone a {
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
    color: #247bbd;
}
.order-number-phone a:hover{
    text-decoration: underline;
}
.center-content-view {
    border-bottom: 1px dotted #ddd;
    border-top: 1px dotted #ddd;
    clear: both;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 30px;
    width: 100%;
}
.title-center-content-view{
    color: #666;
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    padding: 15px 0 20px 12px;
    text-transform: uppercase;
}
.content-center-content-view{
    clear: both;
    width: 100%;
    margin-top: 20px;
}
 .content-center-content-view li{
    float: left;
    line-height: 24px;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 0 15px;
    max-width: 235px;
 }
  .content-center-content-view li .img-thumb {
    display: block;
    height: 165px;
    margin: 0 0 5px;
    overflow: hidden;
    text-align: center;
}
.content-center-content-view li .item-name {
    color: #004b91;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin: 0 0 5px;
    max-height: 40px;
    overflow: hidden;
}
.content-center-content-view li .item-name:hover{
     color: #ff0000;
}
.content-center-content-view li .item-price{
    color: #a10e0e;
    display: inline-block;
    font-size: 16px;
    position: relative;
}
.content-center-content-view li .item-price .price-sale {
    color: #990000;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    margin: 0 15px 0 0;
    position: relative;
    white-space: nowrap;
}
.content-center-content-view li .item-price .price-sale i {
    color: #999;
    font-size: 12px;
    font-style: normal;
    text-decoration: line-through;
}
.bottom-content-view{
    clear: both;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}
.left-bottom-content-view{
    width: 900px;
    display: inline-block;
    float: left;
}
.bottom-content-view .tab{
    border-bottom: 1px solid #ddd;
    height: 36px;
}
.bottom-content-view .tab li {
    display: inline-block;
    background: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 3px 3px 0 0;
    color: #999;
    cursor: pointer;
    float: left;
    font-size: 15px;
    height: 36px;
    line-height: 36px;
    margin: 0 0 0 10px;
    padding: 0 10px;
}
.bottom-content-view .tab li.act {
    background: #fff;
    border-color: #ddd #ddd transparent;
    color: #222;
}
.bottom-content-view .tab li:hover{
    text-decoration: underline;
}
.bottom-content-view .tab li.act:hover{
    text-decoration: none;
}
.content-bottom-content-view{
    display: inline-block;
    width: 100%;
    margin: 20px 0px;
    padding: 0 10px;
}
.content-bottom-content-view .show-tab{
    min-height: 200px;
    display: none;
}
.content-bottom-content-view .act.show-tab{
    display: block;
}

.right-bottom-content-view{
    width: 300px;
    display: inline-block;
    float: right;
}

.right-bottom-content-view .title-hot {
    border-bottom: 1px solid #dedede;
    line-height: 35px;
}
.right-bottom-content-view .title-hot span {
    border-bottom: 2px solid #faa52e;
    color: #555;
    cursor: default;
    display: inline-block;
    font-family: "Roboto",arial,sans-serif;
    font-size: 18px;
    margin: 0 0 -1px;
    text-transform: uppercase;
}
.content-right-bottom-content-view ul li{
    border-bottom: 1px dashed #dadada;
    color: #999;
    font-size: 11px;
    line-height: 20px;
    padding: 20px 0 25px;
}
.content-right-bottom-content-view ul li:last-child {
    border: 0;
}
.content-right-bottom-content-view ul li .i-thumb {
    display: block;
    margin: 0 0 7px;
    text-align: center;
    width: 100%;
    height: 205px;
    overflow: hidden;
}

.content-right-bottom-content-view ul li a.item-name {
    color: #007dcd;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 5px;
}
.content-right-bottom-content-view ul li a.item-name:hover{
    text-decoration: underline;
}
.content-right-bottom-content-view ul li .item-price {
    clear: both;
    color: #a10e0e;
    display: inline-block;
    font-size: 16px;
    position: relative;
    width: 100%;
}
.content-right-bottom-content-view ul li .price-sale {
    color: #990000;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    margin: 0 15px 0 0;
    position: relative;
    white-space: nowrap;
    float: left;
}
.content-right-bottom-content-view ul li i {
    color: #999;
    font-size: 12px;
    font-style: normal;
    text-decoration: line-through;
}
/*cart*/
.grid-shop-cart * {
    font-size: 15px;
}
.list-shop-cart-item .first th{
    background: #f2f2f2;
    border: 1px solid #ddd;
    padding: 5px;
}
.list-shop-cart-item tr td{
    border: 1px solid #ddd;
    padding: 5px;
}
.list-shop-cart-item tr.even td{
    background: #f2f2f2;
}

.list-shop-cart-item  tr.odd td{
    background: #fff;
}
.list-shop-cart-item  tr td .num-item-in-one-product{
    border: 1px solid #ddd;
    padding: 5px;
    width: 70px;
}
.not-product-in-cat {
    color: #ff0000;
    font-style: italic;
}
/*send order*/
div.pay {
    margin: 5px 0 0;
    min-height: 300px;
    overflow: hidden;
    padding-bottom: 15px;
    width: 100%;
}
.content-post-cart {
    border: 1px solid #ddd;
    min-height: 595px;
}
.title-pay-cart {
    background: #f2f2f2;
    color: #414141;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    position: relative;
    text-indent: 10px;
    border-bottom: 1px solid #ddd;
}
form#txtFormPaymentCart {
    margin-top: 20px;
    width: 60%;
    list-style: outside none none;
    margin-top: 20px;
    padding: 0 10px 5px;
}
form#txtFormPaymentCart .form-group label span{
    color: #ff0000;
}
form#txtFormPaymentCart .form-group label {
    color: #333;
    font-size: 14px;
}
table.list-pay {
    color: #414141;
    list-style: outside none none;
    margin: 20px 5px 5px 5px;
    width: 98%;
}
table tbody{
    border-top: none;
}
table.list-pay tr{
    border-bottom: 1px solid #f2f2f2;
    font-size: 14px;
}
table.list-pay tr.last{
    border-bottom: none;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
table.list-pay td {
    color: #333;
    padding: 5px;
    vertical-align: top;
    position: relative;
}
table.list-pay a.img img{
    width: 100%;
    border: 1px solid #f2f2f2;
}
table.list-pay span.price {
    font-weight: bold;
    text-align: left;
}