/*shop*/
.box-register .title-head{
	text-align: left;
}
.main-view-post .form-control:focus{
	box-shadow: none;
}
a.btn-face {
    background: rgba(0, 0, 0, 0) url("../img/social.png") no-repeat scroll 0px 0px;
    display: inline-block;
    height: 42px;
    width: 242px;
}
a.btn-face:hover{
  background-position: -253px 0;
}
a.btn-google {
    background: rgba(0, 0, 0, 0) url("../img/social.png") no-repeat scroll 0px -47px;
    display: inline-block;
    height: 42px;
    width: 242px;
}
a.btn-google:hover{
  background-position: -253px -47px;
}
a.btn-yahoo {
    background: rgba(0, 0, 0, 0) url("../img/social.png") no-repeat scroll 0px -96px;
    display: inline-block;
    height: 42px;
    width: 242px;
}
a.btn-yahoo:hover{
  background-position: -253px -96px;
}
.login-other {
    #background: rgba(0, 0, 0, 0) url("../img/line-or.png") no-repeat scroll right 30px;
    #width: 94%;
    border-right: 1px solid #ddd;
    height: 235px;
    width: 102%;
}
.title-login-other {
    font-size: 18px !important;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 12px;
}
.box-register label {
    display: inline-block;
    font-weight: normal;
    width: 135px;
    float: left;
    margin-top: 5px;
}
.box-register .form-left-reg {
    display: inline-block;
    margin-right: 10px;
    width: 45%;
    float: left;
}
.box-register .form-right-reg{
	display: inline-block;
    width: 45%;
    float: right;
}
.box-register .form-group{
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
}
.box-register .form-control {
    display: inline-block;
    float: left;
    width: 195px;
}
.title-login-me {
    font-size: 18px !important;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 12px;
}
.box-register .form-group-action{
	clear: both;
	width: 100%;
}
.box-register .agree {
    margin-left: 135px;
}
.box-register  .agree input {
    float: left;
    margin-right: 5px;
}
.box-register .agree span {
    display: inline-block;
    float: left;
    font-size: 13px;
    font-style: italic;
}
.box-register .list-action{
    margin-left: 135px;
}
.title-head span {
    font-size: 14px;
}
/*manager shop*/
.main-manager-shop .header{
    background: #222d32;
    border-top: 1px solid #97bd47;
    height: 45px;
    width: 100%;
    display: inline-block;
}
.wrapp-shop{
    margin: 0 20px;
}
.left-head-shop {
    display: inline-block;
    float: left;
    width: 70%;
}
.left-head-shop .icon-dashboard::before {
    color: #fff;
    font-size: 20px;
    float: left;
    margin-top: 10px;
}
.left-head-shop .navigator {
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
}
.left-head-shop .navigator ul{

}
.left-head-shop .navigator ul li {
    display: inline-block;
    margin-right: 20px;
}
.left-head-shop .navigator ul li a{
    color: #fff;
}
.left-head-shop .navigator ul li a:hover{
    text-decoration: underline;
}
.main-manager-shop .header .right-head-shop {
    color: #fff;
    display: inline-block;
    float: right;
    line-height: 44px;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
}
.main-manager-shop .header .right-head-shop:hover{
    background: #222;
}
.main-manager-shop .header .right-head-shop:hover .panel-user-shop{
    display: block;
}
.panel-user-shop {
    background: #222 none repeat scroll 0 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    position: absolute;
    right: 0;
    width: 200px;
    z-index: 2;
    line-height: 25px;
    padding: 0 10px;
    display: none;
}
.panel-user-shop ul{
    display:inline-block;
    width: 100%;
}
.panel-user-shop li{
    display:inline-block;
    width: 100%;
    margin-bottom:5px;
}
.panel-user-shop li a{
    color: #fafafa;
    display:inline-block;
    width: 100%;
}
.panel-user-shop li a:hover{
    text-decoration: underline;
}
.box-shop-search{
    border:1px solid #d4d4d4;
    margin: 10px 0px;
    display: inline-block;
    width: 100%;
}
.title-box-shop-search{
   background: #f5f5f5;
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#ececec 100%);
    background: -o-linear-gradient(top,  #fcfcfc 0%,#ececec 100%);
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#ececec 100%);
    background: linear-gradient(to bottom,  #fcfcfc 0%,#ececec 100%);
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d4d4d4;
    font-weight: bold;
    text-indent: 20px;
    font-size: 13px;
}
.content-box-shop-search {
    margin: 15px 0;
}
.wrapp-box-info{
    margin: 0 15px;
}
.title-table-shop-shop {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
    font-style: italic;
}
.list-shop-show{
    padding: 10px 0px;
}
.show-box-paging {
    display: inline-block;
    width: 100%;
}
.show-box-paging .total-rows {
    color: #222;
    display: inline-block;
    font-size: 15px;
    width: 30%;
}
.show-box-paging .showListPage {
    display: inline-block;
    float: right;
    max-width: 65%;
    width: auto;
}
.show-box-paging .showListPage {
    margin: 0;
}
.show-box-paging .showListPage .item-list ul li {
    padding: 0;
}
.show-box-paging .showListPage .pager li > a, 
.show-box-paging .showListPage .pager li > span {
    border-radius: 0;
}
.showListItem table {
    border: 1px solid #ddd;
}
.showListItem table tr{
    height: 35px;
}
.showListItem table td, .showListItem table th {
    border-left: 1px solid #efefef;
    border-top: 1px solid #efefef !important;
    line-height: 20px !important;
    padding: 0 8px !important;
    text-align: left;
    vertical-align: middle !important;
    background: #fff;
}
.font-size-20{
    font-size: 20px;
}
.green{
    color: green;
}
.control-group {
    clear: both;
    margin-bottom: 15px;
}
.control-label span{
    color: #ff0000;
}
.line-full{
    clear: both;
    display: inline-block;
    width: 100%;
}
#sys_drag_sort {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    max-width: 95%;
    clear: both;
}
#sys_drag_sort li {
    border: 1px solid #ddd;
    display: inline-block;
    float: left;
    height: 135px;
    margin: 5px 5px;
    overflow: hidden;
    padding: 3px;
}
#sys_drag_sort .div_img_upload img {
    border-bottom: 1px solid #ddd;
}